.calendar_tools table {
	border:none;
	margin:0;
	padding:0;
}
tbody tr:hover th, tbody tr:hover td {
    background: none repeat scroll 0 0 #ffffff;
}
.calendar_tools td {
	border:none;
	padding:10px 0 5px 0;
}	
.calendar_tools td.date {
	font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.calendar_tools .next {
	text-align:right;
}
.calendar_tools img {
	margin:0 10px;
	vertical-align:middle;
}
.calendar table {
	table-layout:fixed;
	margin:0;
}
.calendar th {
    background-color: #797979;
    border-bottom: 1px solid #CCCCCC;
    border-collapse: collapse;
    border-left: 1px solid #CCCCCC;
    box-shadow: 0 0 5px 0 #656565 inset;
    color: #FFFFFF;
    font-weight: normal;
    padding: 5px 0;
    text-align: center;
    vertical-align: middle;
}
.calendar thead th.sat {
    background-color: #6BA1D4;
    box-shadow: 0 0 5px 0 #707070 inset;
}
.calendar th.sun {
    background-color: #E84E34;
    box-shadow: 0 0 5px 0 #B43F2C inset;
}
th, td {
	padding:0;
}
.calendar {
    border-collapse: collapse;
    border-right: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    height: 100%;
    width: 100%;
}
.calendar th {
    background-color: #999999;
    border-bottom: 1px solid #CCCCCC;
    border-collapse: collapse;
    border-left: 1px solid #CCCCCC;
    color: #FFFFFF;
    font-weight: normal;
    height: 20px;
    padding: 5px 0;
    text-align: center;
    vertical-align: middle;
}
.calendar th.sat {
    background-color: #6BA1D4;
}
.calendar th.sun {
    background-color: #FF6666;
}
.calendar td {
    background-color: #F9F9F9;
    border-bottom: 1px solid #CCCCCC;
    border-collapse: collapse;
    border-left: 1px solid #CCCCCC;
    font-weight: normal;
    text-align: left;
    vertical-align: top;
}
.calendar td.sat {
    background-color: #E3F1FD;
}
.calendar td.sun {
    background-color: #FFE4DE;
}
.calendar td .txt_gray {
    color: #B9B9B9;
}
.calendar td div {
    left: 0;
    position: relative;
    top: 0;
}
.calendar td p {
    cursor: default;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 0;
}
.calendar td p a {
    display: block;
}
.calendar td .days {
    cursor: default;
    display: block;
    font-weight: bold;
    left: 5px;
    position: absolute;
    top: 3px;
    z-index: 1;
}
.calendar td .eve_name {
    cursor: default;
    display: block;
    left: 5px;
    line-height: 1.4;
    position: absolute;
    top: 18px;
    z-index: 1;
}
.calendar td.today {
    background-color: #E0EBAF;
}
.calendar td.today:hover, .calendar td:hover, .calendar td.sat:hover, .calendar td.sun:hover, .calendar td.today:hover {
    background-color: #C3E2FD;
    color: #000000;
}
