.recommended_users {
	margin-right:5px;
	overflow:hidden;
	overflow-x:hidden;
}
.recommended_users p.title {
	margin-top:20px;
	margin-left:5px;
}
.recommended_users .bottom_line {
	border-bottom:1px solid #dddddd;
}
.recommended_users .user {
	padding:5px 5px 5px 0;
}
.recommended_users p.user_name {
	color:#08adfa;
	line-height:1.2;
	margin:0;
	font-weight:bold;
	white-space:nowrap;
	word-wrap:normal;
	font-size:13px;
}
.recommended_users .ym-col1{
	width:50px;
	padding-top:3px;
}
.recommended_users .ym-col3 {
	margin-left:40px;
	margin-right:5px;
}
.recommended_users .ym-col3 img {
	margin-top:2px;
}
