<div class="summary">
	<div class="picture">
		<img src="<%= iconSet.icon %>" width="128" height="128">
	</div>
	<div class="title_names">
		<h1 class="ellipsis"><%= name %></h1>
		<div class="names">
			<span class="display_name ellipsis"><%= creator.personalDatas.displayedName %></span>
			<span class="username ellipsis">(&gt;<%= creator.username %>)</span>
		</div>
		<div class="button in"><img src="img/check.png">カレンダーに追加済み</div>
	</div>
</div>
<div class="details">
	<dl>
		<dt><%= ExposeTranslation.get('event.datetime.label') %>:</dt>
		<dd>2012年7月12日</dd>
	</dl>
	<dl>
		<dt><%= ExposeTranslation.get('event.place') %>:</dt>
		<dd>モンマルトル</dd>
	</dl>
</div>
<hr>
<div class="description">
	<p><%= ExposeTranslation.get('event.details_long') %></p>
</div>
