<div class="event">
	<div class="picture">
		<img src="<%= Assetics.asset(iconSet.icon) %>" width="64" height="64">
	</div>
	<div class="center_column">
		<div class="datetime"><%= date %></div>
		<div class="names">
			<span class="display_name ellipsis"><%= creator.personalDatas.displayedName %></span>
			<span class="username ellipsis">(&gt;<%= creator.username %>)</span>
		</div>
		<div class="title ellipsis"><%= name %></div>
	</div>
	<div class="button_small button drop">
		<img src="img/in.png">
		<span>カレンダーに入れる</span>
	</div>
</div>