    <!-- cal list start -->
    <div class="cal_list">
      <div class="photo"><img src="images/common/dammy_photo_45x45.gif" alt=""></div>
      <div class="txt">
	<p>スケジュール名</p>
	<div class="btn"><p class="drop_btn_style1"><a href="#"><span>Dropする</span></a></p></div>
      </div>
      <br class="clear">
    </div>
    <!-- cal list end -->
