div#header {
	height:35px;
	margin:0;
	background-color:#2d2d2d;
	color:#bbbbbb;
}
div#main {
	margin-left:260px;
	padding:0 15px 5px 10px;
}
div#sub1 {
	float:left;
	width:260px;
	height:140px;
}
div#sub2 {
	float:left;
	clear:left;
	width:260px;
}
div#wrapper {
	float:right;
	width:100%;
	margin-left:-260px;
}
