div#accountinfo {
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color:#f0ffff;
	width:220px;
	margin:10px;
	height:120px;
	padding:10px;
}
div#accountinfo div.account_avatar {
	float:left;
	margin:5px;
}
div#events_list div.account_text {
	float:left;
}
div#accountinfo p.account_name {
	font-family:inherit;
	font-size:15px;
	font-weight:bold;
	padding:13px 0 10px 35px;
}
div#accountinfo div.account_counter {
	border-top: 1px solid #E8E8E8;
	overflow: hidden;
}
div#accountinfo li {
	display:inline;
}
div#accountinfo a {
	color: #999999;
	float: left;
	font-size: 10px;
	line-height: 16px;
	letter-spacing: 0.1em;
	padding: 7px 15px;
}
div#accountinfo strong {
	color: #333333;
	display: block;
	font-size: 14px;
	letter-spacing: 0;
}
