<div class="eve_detail_box">
  <p class="return_cal"><span>閉じる</span></p>
  <div class="eve_ttl">
    <div class="inner">
      <h3><strong>定例飲み会</strong></h3>
      <p><span>●月●日(金)19:00～21:00</span></p>
      <br class="clear">
    </div>
  </div><!-- // .eve_ttl -->
  <div class="eve_info">
    <div class="photo"><img src="{{ asset('images/common/dammy_photo_120x120.gif') }}" alt=""></div>
    <div class="inner">
      <ul class="social">
	<li><img src="{{ asset('images/common/dammy_btn_droppy.gif') }}" alt=""></li>

	<li><img src="{{ asset('images/common/dammy_btn_tweet.gif') }}" alt=""></li>
	<li><img src="{{ asset('images/common/dammy_btn_like.gif') }}" alt=""></li>
      </ul>
      <p class="eve_cal_name">in<strong>○○スケジュール</strong></p>
      <p class="eve_tag">タグ　#早稲田, #サークル</p>
    </div>
    <br class="clear">
  </div><!-- // .eve_info -->
  <p class="txt">詳細が入ります。テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
</div><!-- // .eve_detail_box -->

