<div id="content_3column">

  {% include 'DroppyWebApplicationBundle:Includes/index_logged_center:main_schedule.html.twig' 
      with {'schedule_information' : schedule_information} %}
  
  {% include 'DroppyWebApplicationBundle:Includes/index_logged_center:event_details.html.twig' %}

</div>
