<div class="popular_user">
	<div class="title">
		<h3 class="title_text">{{ 'user.popular_user' | trans({}, 'DroppyMainBundle') }}</h3>
	</div>
	<div class="users">
		<ul>
		{% for user in popular_users %}
			<li>
				{% if user.personalDatas.iconSet.uploaded %}
				<img src="{{ s3asset(user.personalDatas.iconSet.smallIconPath) }}" width="100" height="100" alt="">
				{% else %}
				<img src="{{ s3asset('img/dummy_120x120.gif') }}" width="100" height="100" alt="">
				{% endif %}<br />
				<div class="user_name">{{ user.personalDatas.displayedName }}</div>
			</li>
			{% if loop.index is divisibleby(4) and loop.index!=loop.last %}
				</ul><ul>
			{% endif %}
		{% endfor %}
		</ul>
	</div>
</div>

