<div class="ym-column user">
	<div class="ym-col1">
		<img class="user-icon" width="32" height="32" />
	</div>
	<div class="ym-col3">
		<p class="user_name"></p>
		<span class="button_small drop">
			<span class="csssprite button_drop"></span>
			<span></span>
		</span>
	</div>
</div>
