<div id="user">
	<div class="buttons">
		<span class="button_big white">{{ 'common.back' | trans({}, 'DroppyMainBundle') }}</span>
	</div>
	<div class="summary">
	</div>
	<div class="description">
		<div id="tabs">
			<ul>
				<li><a href="#dropping">{{ 'button.dropping' | trans({}, 'DroppyMainBundle') }}</a></li>
				<li><a href="#created">{{ 'event.created_events' | trans({}, 'DroppyMainBundle') }}</a></li>
			</ul>
			<div id="dropping">
				<div class="userlist">
				</div>
			</div>
			<div id="created">
				<div class="eventlist">
				</div>
			</div>
		</div>
	</div>
</div>