{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block javascript %} {% endblock %}

{% block header %}
	{% include 'DroppyMainBundle:Includes:header_logged.html.twig' %}
{% endblock %}

{% block body %}
<form name="event_creation_form" {{ form_enctype(form) }} method="POST">
        {{ form_widget(form) }}
</form>
{% endblock %}
