<div class="account_counter">
    <ul>
        <li class="eventnumber">
            <span>{{ 'event.public_events' | trans({}, 'DroppyMainBundle') }}<strong>***</strong></span>
        </li>
        <li class="dropnumber">
            <span>{{ 'droppy.droppings' | trans({}, 'DroppyMainBundle') }}<strong>***</strong></span>
        </li>
        <li class="droppernumber">
            <span>{{ 'droppy.droppers' | trans({}, 'DroppyMainBundle') }}<strong>***</strong></span>
        </li>
    </ul>
</div>

