<div id="header">	
	<div id="header_inner">
        <div class="logo">
            <a href="{{ path('droppy_main_index') }}">
                <span class="csssprite header_logo">header_logo</span>
                <img src="{{ asset('img/version.png') }}" class="version" />
            </a>
        </div>
	</div>
</div>
