<div class="slogan">
	<img src="{{ asset('img/slogan.gif') }}" />
</div>
<div class="introduce">
	<p class="top_lead">
	<strong>{{ 'top.message' | trans({}, 'DroppyMainBundle') | raw }}</strong>
	</p>
</div>
