<div class="recommended_users" user-prototype='{% include 'DroppyUserBundle:Includes:recommended_user_small.html.twig' %}'>
	<p class="recommended_users_title">{{ 'user.recommended_users' | trans({}, 'DroppyMainBundle') }}</p>
</div>
