<div id="search" class="search scrollable" style="display:none;">
	<div class="buttons">
		<span class="button_big white">{{ 'common.back' | trans({}, 'DroppyMainBundle')}}</span>
		<span class="result before">{{ 'common.searching' | trans({}, 'DroppyMainBundle') }}
			<img src="{{ asset('img/loading.gif') }}" alt="loading">
		</span>
		<span class="result after"></span>
	</div>
	<div class="userlist" style="display:none;">
	</div>
</div>