<div class="twitter_box">
	<div class="tw_btn">
		<span class="tw_tweet"><a href="https://twitter.com/share"
			class="twitter-share-button" data-via="Droppy_jp" data-lang="ja">Tweet</a>
			<script>
				!function(d, s, id) {
					var js, fjs = d.getElementsByTagName(s)[0];
					if (!d.getElementById(id)) {
						js = d.createElement(s);
						js.id = id;
						js.src = "//platform.twitter.com/widgets.js";
						fjs.parentNode.insertBefore(js, fjs);
					}
				}(document, "script", "twitter-wjs");
			</script></span>
		<span class="tw_follow"><a
			href="https://twitter.com/Droppy_jp" class="twitter-follow-button"
			data-show-count="false" data-lang="ja">@Droppy_jpをフォロー</a> <script>
				!function(d, s, id) {
					var js, fjs = d.getElementsByTagName(s)[0];
					if (!d.getElementById(id)) {
						js = d.createElement(s);
						js.id = id;
						js.src = "//platform.twitter.com/widgets.js";
						fjs.parentNode.insertBefore(js, fjs);
					}
				}(document, "script", "twitter-wjs");
			</script></span>
	</div>
<!-- <div class="tw_tl">
		<script src="http://widgets.twimg.com/j/2/widget.js"></script>
		<script>
			new TWTR.Widget({
				version : 2,
				type : 'profile',
				rpp : 3,
				interval : 30000,
				width : 250,
				height : 300,
				theme : {
					shell : {
						background : '#36b4d7',
						color : '#ffffff'
					},
					tweets : {
						background : '#ffffff',
						color : '#000000',
						links : '#36b4d7'
					}
				},
				features : {
					scrollbar : false,
					loop : false,
					live : false,
					behavior : 'all'
				}
			}).render().setUser('Droppy_jp').start();
		</script>
	</div>-->
</div>
<!-- // .twitter_box -->
