{% form_theme form 'DroppyUserBundle:Form:fields.html.twig' %}


<form name="registration_form" action="{{ path('fos_user_registration_register') }}" 
		{{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
<table border="0" cellpadding="0" cellspacing="0">
	{{ form_widget(form) }}
</table>
    <p class="btn_style1">
		<a href="#" onclick="registration_form.submit();">{{ 'registration.register' | trans({}, 'DroppyUserBundle')}}</a>
	</p>
</form>

