{% extends "DroppyUserBundle::layout.html.twig" %}

{% block header %}
{% include 'DroppyWebApplicationBundle:Includes:unlogged_header.html.twig' 
	with {'action': 'registration.register' | trans({}, 'DroppyUserBundle'), 
			'action_name': 'registration.register_short' | trans({}, 'DroppyUserBundle'), 
			'facebook_action_path': 'droppy_general_index', 
			'droppy_action_path': 'fos_user_registration_register'} %}
{% endblock %}

{% block fos_user_content %}
<div id="container">
<h2 class="ttl_step"><img src="{{ asset('images/account/img_step_1st.gif') }}" alt="1.ユーザー情報入力"></h2>
	<div class="account_form_box">
		{% include "DroppyUserBundle:Registration:register_content.html.twig" %}
	</div>
</div>
{% endblock fos_user_content %}
