<?xml version="1.0" encoding="UTF-8" ?>

<routes xmlns="http://symfony.com/schema/routing"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://symfony.com/schema/routing http://symfony.com/schema/routing/routing-1.0.xsd">

	<route id="droppy_user_personal_datas" pattern="/settings-profile">
		<default key="_controller">DroppyUserBundle:Profile:changeProfile</default>
	</route>

	<route id="droppy_user_settings" pattern="/settings-droppy">
		<default key="_controller">DroppyUserBundle:Settings:changeSettings</default>
	</route>

</routes>
