span.button_small {
	display:inline-block;
	white-space:nowrap;
	margin-right:10px;
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4f4f4f;
	padding: 2px 10px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#e8e8e8);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		to(#e8e8e8));
	border-radius: 18px;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border: 1px solid #9c9c9c;
}
span.button_small.clicked {
	color: #ffffff;
	background: -moz-linear-gradient(
		top,
		#bdbdbd 0%,
		#5c5c5c);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#bdbdbd),
		to(#5c5c5c));
	border: 1px solid #3d3d3d;
}
span.button_small.dropping {
	color: #ffffff;
	background: -moz-linear-gradient(
		top,
		#ffd685 0%,
		#ffa200);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffd685),
		to(#ffa200));
	border: 1px solid #ffbb00;
}
span.button_small img {
	vertical-align:middle;
	margin:-3px 3px 0 0;
}
span.button_small.drop, span.button_small.dropping {
	padding:2px 5px 0 3px;
}
span.button_small.drop img, span.button_small.dropping img {
	margin-top:-3px;
}

