<div class="ym-column user">
    <div class="ym-col1">
        <img src="http://placehold.it/64x64" width="64" height="64" />
    </div>
    <div class="ym-col2">
        <span class="button_small like">
            <img src="{{ asset('img/drop.png') }}" />{{ 'button.drop' | trans({}, 'DroppyMainBundle') }}
        </span>
        <div class="link to_details">
            <%= ExposeTranslation.get('event.details') %>
        </div>
    </div>
    <div class="ym-col3 ym-clearfix">
        <p class="user"><a href="#"></a></p>
        <p class="description"></p>
    </div>
</div>

