<div class="search scrollable">
    <div class="buttons">
        <span class="button_big white"><%= ExposeTranslation.get('common.back') %></span>
    </div>
    <div id="search_result">
        <div id="search_type_tab">
            <ul>
                <li class="user_tab">
                    <a href="#user_tab">
                        <span><%= ExposeTranslation.get(text.user) %></span>
                    </a>
                </li>
                <li class="event_tab">
                    <a href="#event_tab">
                        <span><%= ExposeTranslation.get(text.event) %></span>
                    </a>
                </li>
            </ul>
        </div>
        <div id="user_tab">
        </div>
        <div id="event_tab">
        </div>
    </div>
</div>
