#footer {
	background-color:#fff;
}
#footer address { display:inline; font-weight:normal; font-style:normal; font-size:10px; color:#666; padding:0 5px; }
#footer ul { display:inline; }
#footer li { display:inline; font-size:10px; color:#666; }
#footer li a { color:#08adfa; font-weight:normal; text-decoration:none; }
#footer li a:hover,
#footer li a:active { text-decoration:underline; }
