<div id="event" style="display:none;">
	<div class="buttons">
		<span class="button_big white">{{ 'common.back' | trans({}, 'DroppyMainBundle') }}</span>
	</div>
	<div class="event_details">
	
	</div>
</div>