<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="">
<meta name="description" content="">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css" rel="stylesheet">
<link rel="stylesheet" href="../css/ui.reveal.css" type="text/css" media="all">
<link rel="stylesheet" href="../css/ui.tabs.css" type="text/css" media="all">
<link rel="stylesheet" href="../css/import.css" type="text/css" media="all">
<link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
<title>Droppy｜ソーシャルスケジューリングサービス</title>
<!--[if IE]>
<link rel="stylesheet" type="text/css" href="../css/ie.css">
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="../css/ie7.css">
<![endif]-->
<!--[if IE 6]>
<link rel="stylesheet" type="text/css" href="../css/ie6.css">
<![endif]-->
<script type="text/javascript" src="../js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="../js/jquery.reveal.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
<script type="text/javascript" src="../js/ui.core.js"></script>
<script type="text/javascript" src="../js/ui.tabs.js"></script>
<script type="text/javascript" src="../js/ui.dropdown.js"></script>
<script type="text/javascript" src="../js/ui.change.item.js"></script>
<script type="text/javascript" src="../js/footerFixed.js"></script>
</head>

<body>
<div id="header">
<div id="header_body">
<div class="inner_l">
<div><a href="#"><img src="../images/common/header_logo.gif" alt="Droppy"></a></div>
<h1>ソーシャルスケジューリングサービス</h1>
</div>
<div class="inner_r">
<ul id="dulldown">
	<li>アカウントをお持ちの場合は<span>ログイン</span>
	<div>
	<ul>
		<li class="login_droppy"><a href="#">Droppy IDでログイン</a></li>
		<li class="login_fb"><a href="#">facebook IDでログイン</a></li>
	</ul>
	<br class="clear">
	</div>
	</li>
</ul>
</div>
<br class="clear">
</div><!-- // #header_body -->
</div><!-- // #header -->
<div id="container">
<div class="other_box">
<h2>Droppyプライバシーポリシー</h2>
<p>このプライバシーポリシーは、情報の収集、利用、および開示に関するTwitter社の方針と手続きを説明したものです。 当社はユーザーからの情報を、当社のウェブサイト、SMS、API、アプリケーション、サービス、および当社以外（これらを "サービス" と呼びます）を通じて受け取ります。たとえば、当社ウェブサイトからTwitterを使う時とか、SMSでツイートを送受信する時とか、ユーザーのウェブサイトにTwitterのウィジェットを設置する時とか、Twitter for MacやTwitter for AndroidやTweetDeckなどのTwitter用アプリケーションからTwitterにアクセスする時とかにユーザーは情報を送信していることになります。サービスのいずれを利用するにせよ、情報の収集、転送、操作、保管、開示、その他の利用に関するこのプライバシーポリシーに同意することになります。ユーザーがどの国に居住しているかとかどの国で情報が作成されたかに関係なく、ユーザーからの情報は米国とその他のTwitterが稼働する国で利用できるものとします。</p>
<p>本プライバシーポリシーに質問や意見がある場合には、<a href="#">privacy@twitter.com</a>まで連絡してください。</p>
<h3>情報の取得と使用</h3>
<p><strong>登録時に収集する情報について：</strong>Twitterアカウントに登録する際には、あなたの名前やユーザー名、パスワード、メールアドレスといったごく限られた情報について入力をお願いします。このうち名前とユーザー名については、あなたのプロフィールページで公開されます。登録作業は、検索や他のユーザーの投稿内容の閲覧といったサービスを利用するだけであれば必要ありません。</p>
<p><strong>追加情報について：</strong>　ユーザー情報の設定ページでは、プロフィールページで公開できる、自己紹介、現在地、アイコンなどの情報を追加できます。またわれわれのサービスをさらに便利に使うための情報、すなわちSMSを使ってメッセージをやりとりするための携帯電話の番号や、Twitterを使っている知人を探すことを容易にするアドレス帳の情報などです。また、われわれはサービスに関する情報をあなたに知らせるためにあなたの連絡先に関する情報を利用することがあります。こうした連絡が不要な場合は、サイトなどで提供している案内に従って停止手続きを行ってください。電子メールでわれわれに連絡をする場合、われわれはあなたの連絡先に関する情報やあなたとのやりとりを記録する可能性があります。また、あなたのメールアドレスやあなたがわれわれに提供した情報を、あなたへの連絡に利用することがあります。この項で説明した追加情報の入力は完全に任意です。</p>
<p>ツイート、フォローすること、リスト、その他の公開情報: 当社のサービスは世界との情報共有をまず考えて作られています。ユーザーが当社に与えた情報はほとんどそのユーザーが当社に公開を依頼した情報です。情報は、ツイート本文とかその時刻といったメタデータとかだけでなく、作ったリスト、フォローしている人々、お気に入りにしたりリツイートしたツイートなどのいろいろな情報も含みます。何も設定しない場合、ユーザーが供給した情報はほとんど例外なく公開されますが、もし必要なら一般的に設定 (https://twitter.com/account/settings)で情報を非公開にすることができます。公開情報は広範囲に直ちに拡散されます。たとえば、公開ツイートはいろいろなサーチエンジンで検索可能になり、SMSや当社のAPI(http://dev.twitter.com/pages/api_faq)で広範囲のユーザーとサービスに送られます。ユーザーはツイートだけではなく、Twitterで公開されるすべての情報に気をつける必要があります。</p>
<p><strong>位置情報：</strong> ツイートやプロフィールに位置を載せるかどうかを選択できます。ツイートに位置情報を載せる機能を有効にすると、Twitterはサービス改善の目的で正確な位置座標も保存します。位置を載せるかどうかはアカウントの設定 (https://twitter.com/account/settings)で選択できます。</p>
<p>ログデータ 当社サーバーは本サービスの利用の情報（以下 "ログデータ"）を自動記録します。ログデータには、IPアドレス、ブラウザの種類、参照ドメイン、訪れたページ、携帯のキャリア、デバイスとアプリケーションのID、および検索したキーワードなどの情報が含まれます。当社ウェブサイトやアプリケーション、広告をクリックするなどのやり取りもログデータに含めるものとします。当社は18ヶ月経過後にログデータがまだ消去されていない場合には、消去するか、あるいは、いわゆるアカウント特定可能情報たとえばユーザー名、完全なIPアドレス、メールアドレスなどを除去します。</p>
<p>リンク Twitter社はツイートに含まれるリンクをユーザーがクリックしたかどうかを、他社のサービスやクライアントを含む当社サービス全体で、URLをリダイレクトするなどの手法を用いて追跡してよいものとします。これは広告を含めた当社サービスを改善し、1つの特定のリンクが何回クリックされたかなどの統計情報を共有可能にするためです。</p>
<p><strong>Cookies:</strong> Like many websites, we use "cookie" technology to collect additional website usage data and to improve our Services, but we do not require cookies for many parts of our Services such as searching and looking at public user profiles or lists. A cookie is a small data file that is transferred to your computer's hard disk. Twitter may use both session cookies and persistent cookies to better understand how you interact with our Services, to monitor aggregate usage by our users and web traffic routing on our Services, and to improve our Services. Most Internet browsers automatically accept cookies. You can instruct your browser, by editing its options, to stop accepting cookies or to prompt you before accepting a cookie from the websites you visit.</p>
<p>サードパーティのサービス： Twitterは、当社のサービスを提供するためにいろいろなブログやウィキなどサードパーティの多様なサービスを使っていますし、当社のサービスの利用状況を把握するためにGoogleアナリティクスなどを用いています。これらのサービスはあなたがブラウザからページを閲覧する際の手順の一部として送信する、クッキーやIPのリクエストの情報などを収集することがあります。</p>
<h3>情報の共有と開示 </h3>
<p><strong>同意：</strong> TwitterアカウントにアクセスするサードパーティのWebクライアントやアプリケーションを使用する際などには、あなたの同意を得た上で情報を共有または開示できるものとします。</p>
<p><strong>サービス・プロバイダー：</strong>　われわれは信頼できる特定のサードパーティに、機能やサービスの提供を委託します。われわれは、あなたの個人情報をこうしたサードパーティと共有することがあります。ただしその用途は機能やサービスの提供のために限ります。またこれらは、本プライバシーポリシーに基づいて行います。 </p>
<p><strong>法と有害性:</strong> 法律、規制または法的要求を遵守するため、すべての人の安全を守るため、不正利用、セキュリティまたは技術的な問題に対処するため、あるいは Twitter の権利や財産を保護するために、合理的に必要であると信じる場合、我々はユーザーの情報を保持または開示することがあります。</p>
<p><strong>事業譲渡：</strong> 破産、企業合併、企業買収、会社の再構成、資産売却などがTwitter社に生じた場合、その取り引きの一環としてあなたに関する情報が売却または譲渡されることがあります。本プライバシーポリシーで保証したことは、あなたに関する情報が新たな組織に移される場合にも適用されます。 </p>
<p><strong>非公開あるいは個人的ではない情報：</strong>  われわれは、あなたに関する情報のうち、非公開ではないものや集計したもの、さもなければ個人的ではない情報を共有または開示することがあります。例えば、公開されている投稿や、特定のリンクをクリックしたユーザーの数（例えそれが一人であったとしても）です。 </p>
<h3>個人情報の変更</h3>
<p>あなたがわれわれのサービスに登録すると、われわれは、あなたのアカウントに関連する形であなたがわれわれに提供した個人情報にアクセスしたり変更したりするためのツールを提供します。</p>
<p>またTwitterのアカウントを永久的に削除することができます。こちら(https://support.twitter.com/articles/15358-how-to-deactivate-your-account)の説明に沿えば、アカウントは無効となり削除されます。アカウントが無効になるとTwitter.com 上で見ることができなくなります。誤ってアカウントを削除した時には、30日以内であれば元に戻すことができます。しかそれ以降になると、1週間以内でユーザーのアカウントはTwitterのサーバーから削除されます。</p>
<h3>児童による利用についての対策</h3>
<p>われわれのサービスは、13歳未満の子供を利用対象としていません。あなたの子供が、あなたの同意なしにわれわれに個人情報を提供していることが分かった場合は、privacy@twitter.comまで連絡してください。われわれは13歳未満と分かっていながらその人の個人情報を収集することはありません。われわれが、13歳未満の人が個人情報を提供していることを知った場合には、当該情報を削除し、当該アカウントを凍結するという対策を講じます。 </p>
<h3>本ポリシーの変更</h3>
<p>私たちは必要に応じて、このプライバシーポリシーを改定することがあります。その際、プライバシーポリシーの最新版があなたの個人情報に関して適用され、また、最新版は常にhttps://twitter.com/privacyで確認することが可能です。私たちがポリシーを改定し、その改定が重大であるとみなされる場合には、@Twitterのツイート、あるいは、あなたのアカウントに登録されたメールアドレスに、メールでお知らせします。ポリシーの改定が発効した後も、当社サイトにアクセス、あるいはサービスを利用し続けた場合には、あなたが最新版のプライバシーポリシーに従うことに同意したとみなします。</p>
<p><strong>発効日：</strong>June 23, 2011</p>
<p class="last">プライバシーポリシーに関してご意見やご質問がありますか？<a href="#">こちら</a>までお送りください。</p>
</div><!-- // .other_box -->
</div><!-- // #container -->
<div id="footer">
<div id="footer_body">
<address>Droppy &copy; 2011</address>
<ul>
	<li><a href="#">運営会社</a>｜</li>
	<li><a href="#">プライバシーポリシー</a>｜</li>
	<li><a href="#">利用規約</a>｜</li>
	<li><a href="#">運営者からのお知らせ</a></li>
</ul>
</div><!-- // #footer_body -->
</div><!-- // #footer -->
</body>
</html>
