<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="">
<meta name="description" content="">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css" rel="stylesheet">
<link rel="stylesheet" href="../css/ui.reveal.css" type="text/css" media="all">
<link rel="stylesheet" href="../css/ui.tabs.css" type="text/css" media="all">
<link rel="stylesheet" href="../css/import.css" type="text/css" media="all">
<link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
<title>Droppy｜ソーシャルスケジューリングサービス</title>
<!--[if IE]>
<link rel="stylesheet" type="text/css" href="../css/ie.css">
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="../css/ie7.css">
<![endif]-->
<!--[if IE 6]>
<link rel="stylesheet" type="text/css" href="../css/ie6.css">
<![endif]-->
<script type="text/javascript" src="../js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="../js/jquery.reveal.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
<script type="text/javascript" src="../js/ui.core.js"></script>
<script type="text/javascript" src="../js/ui.tabs.js"></script>
<script type="text/javascript" src="../js/ui.dropdown.js"></script>
<script type="text/javascript" src="../js/ui.change.item.js"></script>
<script type="text/javascript" src="../js/footerFixed.js"></script>
</head>

<body>
<div id="header">
<div id="header_body">
<div class="inner_l">
<div><a href="#"><img src="../images/common/header_logo.gif" alt="Droppy"></a></div>
<h1>ソーシャルスケジューリングサービス</h1>
</div>
<div class="inner_r">
<ul id="dulldown">
	<li>アカウントをお持ちの場合は<span>ログイン</span>
	<div>
	<ul>
		<li class="login_droppy"><a href="#">Droppy IDでログイン</a></li>
		<li class="login_fb"><a href="#">facebook IDでログイン</a></li>
	</ul>
	<br class="clear">
	</div>
	</li>
</ul>
</div>
<br class="clear">
</div><!-- // #header_body -->
</div><!-- // #header -->
<div id="container">
<div class="other_box">
<h2>サービス利用規約</h2>
<p>本サービス利用規約 (以下 "<strong>規約</strong>") は、ユーザーがこのサービスとTwitterウェブサイト (以下 "<strong>サービス</strong>") にアクセスし利用する際と、本サービスにアップロードされダウンロードされ表示される情報、テキスト、イラスト、写真、その他のデータ (以下 "コンテンツ") に適用されます。本サービスにアクセスし利用することは、ユーザーが本規約に同意し遵守することが条件です。本サービスへアクセスし利用することは、本規約に従うことを同意したことになります。</p>
<h3>基本規約</h3>
<p>あなたは、本サービスを利用すること、ポストしたコンテンツ、およびそれによって引き起こされる結果に責任があります。あなたが送信し、ポストし、または表示したコンテンツは本サービスの他のユーザーに、あるいは他社のサービスやウェブサイトを通じて、閲覧可能になります（コンテンツの閲覧を制限したい場合はアカウント設定のページが使えます）。本規約に基づいて他の人たちと気持ちよく共有できるようなコンテンツだけを提供するべきです。</p>
<p>ユーザーは、拘束力ある契約をTwitterと結ぶことができ、かつ、米国又は他の関係する国と地域の法律によりサービスを受けることが禁じられている人でない場合に限り、本サービスを利用することができます。ユーザーは、この規約及び関係する地方自治体、州、国の法律・規則並びに国際法律・規則のすべてに従わなければ本サービスを利用できません。</p>
<p>Twitterが提供する本サービスは常に進化し続けており、Twitterが提供する本サービスの形態と性質はユーザーに対して事前に通知することなく随時変更されます。また、Twitterは、ユーザー又は利用者全般に対して本サービス（又は本サービスに組み込まれているいずれかの要素）を提供することを（永久的に又は一時的に）やめることができ、ユーザーに対してこれを事前に通知することができない場合があります。さらに、弊社は、ユーザーに対して事前に通知せずに何時でも弊社単独の裁量で利用と保存に制限を設ける権利を保有します。</p>
<p>本サービスは広告を含むことができ、広告については、本サービス上のコンテンツ又は情報、本サービスを通じて為される問い合せ、その他の情報をそのターゲットとすることができるものとします。本サービス上でのTwitterによる広告の種類と規模は随時変更されます。本サービスへのアクセスと本サービスの利用をTwitterがユーザーに対して許諾することと引き換えに、ユーザーは、本サービス上あるいは、ユーザーや他者から提供されたコンテンツもしくは情報に関連して、Twitterとその第三者プロバイダー及びパートナーが広告を掲載できることを承諾します。</p>
<h3>プライバシー</h3>
<p>ユーザーからTwitterに対して提供される一切の情報は、ユーザーの情報の弊社による収集と使用に関する弊社プライバシーポリシーの適用を受けます。ユーザーは、本サービスを利用することにより、かかる情報を米国その他の国々に移転することを含め、Twitterによる保存、加工、使用のためにTwitterが（プライバシー規定に従って）その情報を収集し使用することを承諾するものとします。弊社は、ユーザーへの本サービス提供の一環として、必要に応じて、新サービスや管理メッセージなどの案内をユーザーに提供します。これらの案内は本サービスとユーザーのTwitterアカウントの一部であると見なされ、ユーザーは、これらの案内の受け取りを拒否できないことがあります。</p>
<h3>パスワード</h3>
<p>サービスへのアクセスに用いるパスワードの安全性の確保とパスワードが必要な行為や操作に関してはユーザーに責任があります。セキュリティーの高いパスワード (大文字、小文字、数字、記号を組み合わせたもの) をお使いになることをお勧めします。Twitter社は上の要件を満たさずに生じたいかなる損失や損害に対しても責任を負えません。</p>
<h3>本サービス上のコンテンツ</h3>
<p>一切のコンテンツについては、公的に送信されたものであるか私的に送信されたものであるかを問わず、その全責任はコンテンツの作成者にあります。弊社は、本サービスを介して送られたコンテンツを監視あるいは管理することはできません。また、弊社は、かかるコンテンツに関して責任を負うことはできません。ユーザーは、本サービスを介して送られ又は本サービスを通じてユーザーが獲得したコンテンツあるいは素材を使用するとき、又はかかるコンテンツあるいは素材に依存するときは、それに伴うリスクはユーザー本人が単独で負うものとします。</p>
<p>弊社は、本サービスを介して投稿された一切のコンテンツ又は通信内容が完全であり、真実であり、正確であり、又は信頼できるものであることを是認せず、支持せず、表示せず、保証しません。また、本サービスを介して表明された一切の意見を是認しません。ユーザーは、本サービスを利用することにより、不快な、有害な、不正確な又は不適切なコンテンツに、場合によっては不実の又は詐欺的な表示にさらされる可能性があることを承知します。一切のコンテンツ内の誤り又は欠落、あるいは本サービスを介して投稿され、電子メールで送信され、伝送され、獲得され又は他所で放送された一切のコンテンツの使用の結果発生したあらゆる類の一切の損失又は損害を含め、コンテンツについては、Twitterは如何なる情況の下でも一切その責を負いません。</p>
<h3>ユーザーの権利</h3>
<p>ユーザーは、ユーザーが本サービス上に又は本サービスを通じて提出し、送りあるいは表示する一切のコンテンツに対する権利を保有しています。ユーザーは、本サービス上に又は本サービスを通じてコンテンツを提出し、送り、又は表示することにより、一切の媒体又は配付方法（現在知られているものであると今後開発されるものであるとを問わず）においてかかるコンテンツを使用し、コピーし、複製し、加工し、改作し、変更し、発表し、送信し、表示し、配付するための世界的な通常実施権を（再実施権を付けて）弊社に対して無償で許諾します。</p>
<p>ユーザーは、Twitterがかかるコンテンツを、かかるコンテンツの使用に関する弊社規定に従って、他の媒体とサービスでのかかるコンテンツのシンジケーション、放送、配付又は公表のために、Twitterと提携する他の会社、組織又は個人に対して提供する権利がこの実施権に含まれることを承諾します。</p>
<p>Twitter又はTwitterと提携する他の会社、組織あるいは個人によるかかる追加的使用は、ユーザーが本サービスを通じて提出し、投稿し、伝送し、提供するコンテンツに関してユーザーに対して報酬を一切支払わずに行うことができるものとします。</p>
<p>弊社はユーザーのコンテンツを、コンピュータネットワーク上でかつ様々な媒体においてそれを送信し、表示し又は配付するために必要に応じて改変することができるものとし、一切のネットワーク、装置、サービス又は媒体の要件あるいは制限にかかるコンテンツを適合させるために必要に応じてユーザーのコンテンツに変更を加えることができるものとします。</p>
<p>他の利用者と弊社の第三者パートナーによるユーザーのコンテンツの使用を含め、ユーザーによる本サービスの利用、ユーザーが提供する一切のコンテンツ、及びその自然的結果について、ユーザーはその責を負うものとします。ユーザーは、ユーザーのコンテンツを弊社のパートナーが再放送できることと、かかる使用のためにコンテンツを提出する権利がユーザーにない場合は責任をユーザーが負うことを承知します。Twitterによるユーザーのコンテンツの使用については、この規約に従って使用しているときは、Twitterはその責を負いません。ユーザーは、ユーザーが提出する一切のコンテンツに関して本書により付与される権利を付与するために必要なすべての権利、権限及び権能をユーザーが所持していることを表示し保証します。</p>
<p>Twitterはユーザーに対し、本サービスの一部としてTwitterからユーザーに提供されるソフトウェアを使用するための私的で世界的な譲渡不能の通常実施権を無償で許諾します。この実施権は、Twitterが提供する本サービスの利益をこの規約で認められる方法で享受することをユーザーに許諾することをその唯一の目的としています。</p>
<h3>Twitterの権利</h3>
<p>本サービス（利用者から提供されたコンテンツを除きます）に対するすべての権利、権原、及び利益は、Twitterとその実施許諾者の独占的財産です。本サービスは米国と諸外国の双方の著作権法、商標法その他の法律により保護されています。この規約のいずれの内容も、Twitterの名称又はTwitterの商標、ロゴ、ドメイン名、その他の特有のブランド要素を使用する権利をユーザーに対して与えるものではありません。ユーザーがTwitterまたは本サービスに関して提供する一切のフィードバック、意見、又は提案は完全に任意であり、弊社はかかるフィードバック、意見又は提案を、弊社が適切であると判断した方法で、ユーザーに対して一切義務を負わずに、自由に使用することができるものとします。</p>
<h3>コンテンツと本サービスの利用に関する制限</h3>
<p>当社は、当社サービス上のコンテンツの除去や配布の拒否、ユーザーの利用停止、ユーザー名の再利用の権利をつねに有します（が、これは義務ではありません）。サービスを利用する上で何が禁止されているかをよく理解するためには、Twitter ルール（この利用規約の一部でもある）をご覧ください。当社は、(i) 適用されるすべての法令や規則、法的手続きや政府の要請に従ったり、(ii) 利用規約を発動させたり（規約違反の疑いがある場合にそれを調べる目的を含みます）、(iii) 欠陥やセキュリティーおよび技術的な問題を検知、防止その他記述したり、(iv) ユーザーからのサポートのリクエストに答えたり、(v) Twitterやそのユーザーや公共の権利や財産、安全を守ったりする上で必要だとみなされるすべての情報のアクセスおよび読み出し、保存、公開の権利を有します。</p>
<p>ユーザーは、コンテンツ又は本サービスを複製し、変更し又はこれに基づいた派生作品を作成し、配付し、販売し、移転し、公表し、公演し、送信し、又は使用することを望むときは、本サービス（又はこの規約）により認められる場合を除き、Twitter APIを使用しなければなりません。</p>
<p>ユーザーは、本サービスにアクセスしている間又は本サービスを利用している間に、下記の事項のいずれをも行うことができません。(i) 本サービス、Twitterのコンピュータシステム、又はTwitterのプロバイダーのテクニカルデリバリーシステムの非公開部分にアクセスし、これを改竄し、又は使用すること。(ii) いずれかのシステム又はネットワークの脆弱性を調査し、走査し、又は試験し、あるいはいずれかのセキュリティー手段又は認証手段に違反し又はこれを回避すること。(iii) Twitterから提供されている弊社の現在利用可能な公開インターフェースを通じる（かつ、その使用条件に従う）以外の一切の手段（自動その他を問いません）により本サービスにアクセスし又はこれを探索し、あるいはかかるアクセス又は探索を試みること。但し、Twitterと別に結んだ契約においてこれを行うことが特に認められている場合はこの限りではありません。（注：本サービスのクローリングは、robots.txtファイルの規定に従って為される場合には許されます。但し、Twitterの事前の承諾なくして本サービスのスクレーピングを行うことは明示的に禁じられています）。(iv) いずれかの電子メール又は投稿に含まれるTCP/IPパケットヘッダー又はヘッダー情報の一部を偽造し、又は方法の如何を問わず変造された情報、詐欺的情報又は嘘の源を特定している情報を送る目的で本サービスを利用すること。(v) 本サービスに対してウイルスを送る、オーバーロードする、フラッディングする、スパムする、大量の電子メールを送りつけるなどして、又は本サービスを妨害しあるいは本サービスに過度の負担を与える様にコンテンツの作成をスクリプトすることにより、いずれかの利用者、ホスト又はネットワークのアクセスを妨害し、又は中断させる（あるいはこれを試みる）。</p>
<h3>著作権に関する規定</h3>
<p>Twitterは他者の知的財産権を尊重し、本サービスの利用者にも尊重することを期待しています。弊社は、著作権侵害容疑の通告を受けたときは、その通告が準拠法に従っており弊社に対して適切に与えられた場合は、その通告に対応します。ユーザーのコンテンツが著作権を侵害する形でコピーされたとユーザーが確信する場合は、弊社に対して次の情報を提供してください。(i) 著作権所有者又は著作権所有者を正式に代理する人の物理的あるいは電子的署名。(ii) 侵害されたと主張する著作物の名称。(iii) 除去されるべきであり又はアクセスを不可能にすべきである、侵害している又は侵害活動の目的物であると主張する資料の名称、及びその資料の在り処の特定を弊社に許容するに相当に十分な情報。(iv) ユーザーの住所、電話番号、電子メールアドレスを含むユーザーの連絡先情報。(v) その資料を申し立てられた方法で使用することについては著作権所有者、その代理人、又は法令はこれを許可していないとユーザーが誠実に確信すると述べているユーザーによる供述。(vi) 通告の内容が正確であることと、虚偽の供述を行うと偽証罪に問われることを承知した上でユーザーが著作権所有者の正式な代理人であることを述べた供述。</p>
<p>弊社は、侵害していると主張されたコンテンツを、予告せずに弊社単独の裁量で除去する権利を留保します。また、いずれかの利用者が侵害を繰り返していることが判明した場合は、適切な情況においてその利用者のアカウントを終了します。本サービスとの関連で発生する著作権侵害容疑の通告を受ける弊社指定の著作権代理人は下記のとおりです。</p>
<p class="contact_us">Twitter, Inc.<br>
Attn: Copyright Agent<br>
795 Folsom Street, Suite 600<br>
San Francisco, CA 94107<br>
Email: copyright@twitter.com</p>
<h3>本サービスは［現状のまま］利用することができます</h3>
<p>Twitter のサービスやコンテンツへのアクセスや利用は自己責任です。あなたには「現状のまま」「可能な限り」のサービスが提供されることを理解し同意するものとします。上記に加え、Twitter とそのパートナーは、明示的か暗黙的を問わず商品化の可能性があること、特定目的に適合することおよび権利侵害がないことについても保証しません。我々は、いかなる保証も行うことはなく、完全性、正確性、可用性、適時性、サービスやその上のコンテンツのセキュリティや信頼性に関するいかなる責任も負いかねます。Twitter はサービスやコンテンツにアクセスしたり利用したことに起因するコンピュータシステムの障害、データの損失またはその他の損害に関し責任や義務を負いません。またユーザーは、サービスに関わるいかなるコンテンツやその他の情報の削除（あるいは保存・送信の失敗）についても、Twitter は一切の責任や義務を負わないことに同意するものとします。我々は、サービスがあなたの要求に合致すること、あるいは、中断無く、安全に、誤り無く利用できることを保証しません。Twitter から直接にあるいはサービスを通じて得た通知や情報は、それが口頭でなされたか書面かに依らず、ここで述べられていない新たな保証を構成することはありません。</p>
<h3>リンク</h3>
<p>本サービスは第三者のウェブサイト又は資源へのリンクを含むことができます。ユーザーは、(i) かかるウェブサイト又は資源の利用可能性又は正確性、あるいは (ii) かかるウェブサイト又は資源上のあるいはかかるウェブサイト又は資源から入手できるコンテンツ、商品若しくはサービスにつき、弊社がその責を負わないことを了承します。かかるウェブサイト又は資源へのリンクが存在するということは、かかるウェブサイト又は資源あるいはかかるウェブサイト又は資源から入手できるコンテンツ、商品、もしくはサービスをTwitterが是認したことを黙示するものではありません。ユーザーは、かかるウェブサイト又は資源を利用する場合、かかる利用の責任を単独で担い、かかる利用に伴うすべてのリスクを負担するものとします。</p>
<h3>責任の制限</h3>
<p>(i) ユーザーが本サービスにアクセスしたこと又は本サービスを利用したことあるいはアクセスすることができず若しくは利用することができないこと、(ii) 本サービス上の第三者の行為又はコンテンツ（他の利用者又は第三者の名誉毀損行為、不快な行為あるいは違法な行為を含みます）、(iii) 本サービスから獲得された一切のコンテンツ、及び (iv) 担保責任、契約、不法行為（過失を含みます）、その他の法的理論のいずれかに基づいたユーザーの送信した内容又はコンテンツへの無断のアクセス、使用又は変造が原因で利益の喪失、データの喪失、使用の喪失、のれんその他の無形財産の損失等の直接的損害、間接的損害、付随的損害、特別損害、派生的損害、懲罰的損害が発生したときは、かかる損害の発生する可能性があることがTwitterに対して通知されていたか否かにかかわらず、さらに、本書記載の救済がその基本目的を果たしていないことがわかった場合でも、Twitterとその子会社、関連会社、役員、被用者、代理人、パートナー及び実施許諾者は、準拠法が認める極限まで、かかる損害につき免責されます。</p>
<h3>責任排除</h3>
<p>いくつかの法域は特定担保責任の排除又は派生的損害あるいは付随的損害に対する責任の排除若しくは制限を認めていません。従って、上記の制限はユーザーに適用されない可能性があります。</p>
<h3>権利放棄と可分性</h3>
<p>Twitterがこの規約のいずれかの権利又は規定を強制しないとき、このことはその権利又は規定の放棄とは見なされません。この規約のいずれかの規定が無効あるいは強制不可能と見なされた場合、この規約の残りの規定は完全な効力を保ち続けます。</p>
<h3>準拠法と管轄権</h3>
<p>これらの条項およびそれに関連して行われる行為は、競合する法令の適用の際にも、あなたの居住している州や国にかかわらず、カリフォルニア州法における裁定を受けます。当社サービスに関連するすべての賠償や法的手続、訴訟はカリフォルニア州サンフランシスコ郡でのみ起こされ、法廷の評決と勧告を尊重し、不利な裁定であっても反論は控えるものとします。関連法令や上で述べたような評決、勧告が法的に受け入れられないアメリカ合衆国政府機関の代理としてこの利用規約を受け入れようとする場合、ここでの文章はあなたには適用されませんが、この利用規約とそれに関連して行われる行為は代わりに（法令の矛盾を参照することなしに）アメリカ合衆国の法令の、そして合衆国法令の定めの無い場合には合衆国法令が許す範囲で（法令を選択せずに）カリフォルニア州法の裁定を受けるものとします。</p>
<h3>全体的契約</h3>
<p>この規約、Twitter規定及び弊社のプライバシー規定は、本サービス（この規約に加えて又は代わるものとしてユーザーがTwitterと別に結んだ契約が扱っているサービスを除きます）に関してTwitterとユーザーとの間において結ばれた契約の全体を成しています。この規約は本サービスに関してTwitterとユーザーとの間において結ばれた従前の契約の一切を無効にします。Twitterを親会社とする企業の一員以外は、いかなるユーザーや会社もこの規約の第三者受益者とはなり得ません。</p>
<p>利用規約はその必要がある場合には改定します。最新版は常にtwitter.com/tosにあります。当社の独自の判断で行われる改定が重大である場合、@Twitter のツイート、あるいはあなたのアカウントで登録されたメールアドレス宛てのメールでお知らせします。規約の改定が発効した後で、当社のサービスへのアクセスしたり、サービスの利用を継続した場合には、改定後の利用規約に従うことに同意したとみなされます。</p>
<p>このサービスは、 Twitter Inc., 795 Folsom Street, Suite 600, San Francisco, CA 94107 によって運営、提供されています。利用規約についてのご質問は、連絡先まで。</p>
<p class="last">発効日：June 01, 2011</p>
</div><!-- // .other_box -->
</div><!-- // #container -->
<div id="footer">
<div id="footer_body">
<address>Droppy &copy; 2011</address>
<ul>
	<li><a href="#">運営会社</a>｜</li>
	<li><a href="#">プライバシーポリシー</a>｜</li>
	<li><a href="#">利用規約</a>｜</li>
	<li><a href="#">運営者からのお知らせ</a></li>
</ul>
</div><!-- // #footer_body -->
</div><!-- // #footer -->
</body>
</html>
