@charset "utf-8";


/* --------------------------

	Common STYLE CSS
	
-------------------------- */
select { text-align:left; font-size:14px; padding:4px 2px 4px 10px; border:1px solid #ccc; background-color:#fafafa; -moz-border-radius:4px;/*for Firefox*/ -webkit-border-radius:4px;/*for Safari and chrome*/ border-radius:4px;/*CSS3*/ }
select option { text-align:left; font-size:14px; padding-right:10px; background-color:#fafafa; }

.error_msg { display:block; color:#ff0000; margin-bottom:5px; }

.btn_style1 { width:250px; height:70px; margin:20px auto 0; background:url(../images/common/bg_btn_style1.gif) no-repeat; text-align:center; }
.btn_style1 a { display:block; width:250px; height:70px; color:#fff; font-size:14px; font-weight:bold; text-decoration:none; line-height:70px; }
.btn_style1 a:hover,
.btn_style1 a:active { background:url(../images/common/bg_btn_style1_o.gif) no-repeat; text-decoration:underline; }

.btn_style2 { width:250px; height:60px; background:url(../images/common/bg_btn_style2.gif) no-repeat; text-align:center; }
.btn_style2 span,
.btn_style2 a { display:block; width:250px; height:60px; color:#fff; font-size:14px; font-weight:bold; text-decoration:none; line-height:60px; }
.btn_style2 span:hover,
.btn_style2 span:active,
.btn_style2 a:hover,
.btn_style2 a:active { background:url(../images/common/bg_btn_style2_o.gif) no-repeat; text-decoration:underline; }

.btn_style3 { width:178px; height:53px; background:url(../images/common/bg_btn_style3.gif) no-repeat; text-align:center; }
.btn_style3 a { display:block; width:178px; height:53px; color:#fff; font-size:13px; font-weight:bold; text-decoration:none; line-height:53px; }
.btn_style3 a:hover,
.btn_style3 a:active { background:url(../images/common/bg_btn_style3_o.gif) no-repeat; text-decoration:underline; }

.btn_style4 { width:182px; height:42px; margin:20px auto 0; background:url(../images/common/bg_btn_style4.gif) no-repeat; text-align:center; }
.btn_style4 a { display:block; width:182px; height:42px; color:#fff; font-size:14px; font-weight:bold; text-decoration:none; line-height:42px; }
.btn_style4 a:hover,
.btn_style4 a:active { background:url(../images/common/bg_btn_style4_o.gif) no-repeat; text-decoration:underline; }

.btn_style5 { width:198px; height:55px; margin:20px auto 0; background:url(../images/common/bg_btn_style5.gif) no-repeat; text-align:center; }
.btn_style5 a { display:block; width:198px; height:55px; color:#fff; font-size:14px; font-weight:bold; text-decoration:none; line-height:55px; }
.btn_style5 a:hover,
.btn_style5 a:active { background:url(../images/common/bg_btn_style5_o.gif) no-repeat; text-decoration:underline; }

.btn_style6 { width:168px; height:32px; margin:20px auto 0; background:url(../images/common/bg_btn_style6.gif) no-repeat; text-align:center; }
.btn_style6 a { display:block; width:168px; height:32px; color:#fff; font-size:14px; font-weight:bold; text-decoration:none; line-height:32px; }
.btn_style6 a:hover,
.btn_style6 a:active { background:url(../images/common/bg_btn_style6_o.gif) no-repeat; text-decoration:underline; }

.drop_btn_style1 { display:block; width:78px; height:20px; margin:0 auto; text-align:left; background:url(../images/common/btn_drop_default.png) no-repeat; font-size:10px; line-height:22px; font-weight:bold; }
.drop_btn_style1 a { display:block; width:78px; height:20px; }
.drop_btn_style1 a:hover,
.drop_btn_style1 a:active { color:#333; text-decoration:underline; }
.drop_btn_style1 span { display:block; margin-left:22px; }

.drop_btn_style1_o { display:block; width:78px; height:20px; margin:0 auto; text-align:left; background:url(../images/common/btn_drop_current.png) no-repeat; color:#fff; font-size:10px; line-height:22px; font-weight:bold; }
.drop_btn_style1_o a { display:block; width:78px; height:20px; color:#fff; }
.drop_btn_style1_o a:hover,
.drop_btn_style1_o a:active { text-decoration:none; }
.drop_btn_style1_o span { display:block; margin-left:22px; }

.drop_btn_style2 { display:block; width:120px; height:23px; margin:0 auto; text-align:left; background:url(../images/common/btn_drop_large_default.png) no-repeat; line-height:23px; font-weight:bold; }
.drop_btn_style2 a { display:block; width:120px; height:23px; }
.drop_btn_style2 a:hover,
.drop_btn_style2 a:active { color:#333; text-decoration:underline; }
.drop_btn_style2 span { display:block; margin-left:40px; }

.drop_btn_style2_o { display:block; width:120px; height:23px; margin:0 auto; text-align:left; background:url(../images/common/btn_drop_large_current.png) no-repeat; line-height:23px; font-weight:bold; }
.drop_btn_style2_o a { display:block; width:120px; height:23px; }
.drop_btn_style2_o a:hover,
.drop_btn_style2_o a:active { color:#333; text-decoration:underline; }
.drop_btn_style2_o span { display:block; margin-left:40px; }

.cal_ymd_box { border-top:1px solid #ccc; border-left:1px solid #ccc; border-right:1px solid #ccc; }
.cal_ymd_box .bg { border:1px solid #fff; background-color:#e7e7e7; }
.cal_ymd_box ul { width:486px; margin:0 auto; }
.cal_ymd_box .prev { float:left; width:31px; text-align:center; padding:7px 0; }
.cal_ymd_box .ymd { float:left; width:424px; text-align:center; font-size:14px; font-weight:bold; padding:7px 0; }
.cal_ymd_box .next { float:right; width:31px; text-align:center; padding:7px 0; }

.main_calender { border-collapse:collapse; border-top:1px solid #ccc; border-right:1px solid #ccc; }
.main_calender th { border-collapse:collapse; width:69px; color:#fff; padding:5px 0; border-left:1px solid #ccc; border-bottom:1px solid #ccc; text-align:center; vertical-align:middle; font-weight:normal; background-color:#797979; -webkit-box-shadow:inset 0px 0px 5px 0px #656565;/*for Safari and chrome*/ -moz-box-shadow:inset 0px 0px 5px 0px #656565;/*forFirefox*/ box-shadow:inset 0px 0px 5px 0px #656565;/*CSS3*/ }
.main_calender th.sat { background-color:#6ba1d4; -webkit-box-shadow:inset 0px 0px 5px 0px #5682ab;/*for Safari and chrome*/ -moz-box-shadow:inset 0px 0px 5px 0px #5682ab;/*forFirefox*/ box-shadow:inset 0px 0px 5px 0px #707070;/*CSS3*/ }
.main_calender th.sun { width:68px; background-color:#e84e34; -webkit-box-shadow:inset 0px 0px 5px 0px #b43f2c;/*for Safari and chrome*/ -moz-box-shadow:inset 0px 0px 5px 0px #b43f2c;/*forFirefox*/ box-shadow:inset 0px 0px 5px 0px #b43f2c;/*CSS3*/ }
.main_calender td { border-collapse:collapse; width:69px; height:74px; border-left:1px solid #ccc; border-bottom:1px solid #ccc; text-align:left; vertical-align:top; font-weight:normal; background-color:#f9f9f9; }
.main_calender td.sat { background-color:#e3f1fd; }
.main_calender td.sun { width:68px; background-color:#ffe4de; }
.main_calender td .txt_gray { color:#b9b9b9; }
.main_calender td div { width:69px; height:74px; position:relative; left:0; top:0; }
.main_calender td p { width:69px; height:74px; position:absolute; left:0; top:0; z-index:0; cursor:default; }
.main_calender td p a { display:block; width:69px; height:74px; }
.main_calender td.sun p,
.main_calender td.sun div { width:68px; }
.main_calender td .days { display:block; position:absolute; left:5px; top:3px; z-index:1; font-weight:bold; cursor:default; }
.main_calender td .eve_name { display:block; position:absolute; left:5px; top:18px; z-index:1; line-height:1.4; cursor:default; }
.main_calender td.today { background-color:#068ff8; color:#fff; -webkit-box-shadow:inset 0px 0px 5px 0px #5b5b5b;/*for Safari and chrome*/ -moz-box-shadow:inset 0px 0px 5px 0px #5b5b5b;/*forFirefox*/ box-shadow:inset 0px 0px 5px 0px #5b5b5b;/*CSS3*/ }
.main_calender td.today:hover,
.main_calender td:hover,
.main_calender td.sat:hover,
.main_calender td.sun:hover,
.main_calender td.today:hover { color:#000; background-color:#c3e2fd; -webkit-box-shadow:none;/*for Safari and chrome*/ -moz-box-shadow:none;/*forFirefox*/ box-shadow:none;/*CSS3*/ }

.btn_cal_large { width:180px; height:37px; margin:10px 0 0 310px; background:url(../images/common/bg_btn_cal_large.gif) no-repeat; }
.btn_cal_large a { display:block; width:180px; height:37px; text-decoration:none; line-height:37px; }
.btn_cal_large a:hover,
.btn_cal_large a:active { background:url(../images/common/bg_btn_cal_large_o.gif) no-repeat; text-decoration:underline; }
.btn_cal_large span { display:block; padding-left:35px; }

.eve_detail_box { width:490px; }
.eve_detail_box .return_cal { width:490px; height:42px; background:url(../images/common/bg_btn_close.gif) no-repeat; font-size:16px; color:#666; font-weight:bold; line-height:42px; text-align:center; margin-bottom:20px; cursor:pointer; }
.eve_detail_box .return_cal:hover,
.eve_detail_box .return_cal:active { background:url(../images/common/bg_btn_close_o.gif) no-repeat; color:#333; text-decoration:underline; }
.eve_detail_box .eve_ttl { margin-bottom:15px; border:1px solid #e2e2e2; background-color:#f6f6f6; -moz-border-radius:5px;/*for Firefox*/ -webkit-border-radius:5px;/*for Safari and chrome*/ border-radius:5px;/*CSS3*/ }
.eve_detail_box .eve_ttl .inner { border:1px solid #fff; padding:5px 0; -moz-border-radius:5px;/*for Firefox*/ -webkit-border-radius:5px;/*for Safari and chrome*/ border-radius:5px;/*CSS3*/ }
.eve_detail_box .eve_ttl h3 { float:left; width:240px; background:url(../images/common/icon_eve_pin.gif) 10px 2px no-repeat; font-size:16px; }
.eve_detail_box .eve_ttl h3 strong { display:block; padding:5px 0 5px 40px; }
.eve_detail_box .eve_ttl h3 a { font-weight:normal; font-size:12px; color:#08adfa; }
.eve_detail_box .eve_ttl p { float:right; width:240px; text-align:right; }
.eve_detail_box .eve_ttl p span { display:block; padding:7px 10px 0 0; }
.eve_detail_box .eve_info { width:490px; margin-bottom:10px; padding-bottom:20px; border-bottom:1px solid #d8d8d8; }
.eve_detail_box .eve_info .photo { float:left; width:130px; }
.eve_detail_box .eve_info .inner { float:left; width:360px; }
.eve_detail_box .eve_info .social { margin-bottom:5px; }
.eve_detail_box .eve_info .social li { display:inline; padding-right:10px; }
.eve_detail_box .eve_info .social img { vertical-align:top; }
.eve_detail_box .eve_cal_name { font-size:14px; margin-bottom:5px; }
.eve_detail_box .eve_cal_name strong { color:#08adfa; }
.eve_detail_box .eve_tag { color:#888; }
.eve_detail_box .txt { font-size:14px; line-height:1.6; }


/* --------------------------

	Individual STYLE CSS
	
-------------------------- */

/*
	toppage - before
*/
#content .toppage_lead { margin-top:10px; line-height:1.6; }
#content .toppage_lead strong { font-size:16px; }

#content .ttl { width:680px; height:34px; margin-top:35px; background:url(../images/toppage/bg_ttl.png) no-repeat; overflow:hidden; }
#content .ttl h2,
#content .ttl h3 { float:left; font-size:16px; padding:8px 0 0 12px; }
#content .ttl p { float:right; font-size:10px; color:#08adfa; padding:12px 10px 0 0; }
#content .ttl p a { color:#08adfa; }

#content .cal_list { width:680px; margin:10px auto 0; }
#content .cal_list li { float:left; width:136px; text-align:center; }
#content .cal_list li { margin-bottom:5px; }
#content .cal_list li img { vertical-align:top; margin-bottom:5px; }
#content .cal_list li a { color:#08adfa; }

#content .tag_cloud { width:680px; margin-top:35px; padding-bottom:15px; background-color:#ebebeb; -moz-border-radius-bottomleft:5px;/*for Firefox*/ -webkit-border-bottom-left-radius:5px;/*for Safari and chrome*/ border-bottom-left-radius:5px;/*CSS3*/ -moz-border-radius-bottomright:5px;/*for Firefox*/ -webkit-border-bottom-right-radius:5px;/*for Safari and chrome*/ border-bottom-right-radius:5px;/*CSS3*/ }
#content .tag_cloud .ttl { margin-top:0; margin-bottom:15px; }
#content .tag_cloud .tag_cloud_body { margin:0 15px; background-color:#fff; -moz-border-radius:5px;/*for Firefox*/ -webkit-border-radius:5px;/*for Safari and chrome*/ border-radius:5px;/*CSS3*/ }
#content .tag_cloud .tag_cloud_body ul { padding:15px; }
#content .tag_cloud .tag_cloud_body li { display:inline; color:#08adfa; line-height:200%; padding-right:10px; }
#content .tag_cloud .tag_cloud_body li.level_x { font-size:10px; }
#content .tag_cloud .tag_cloud_body li.level_xx { font-size:12px; }
#content .tag_cloud .tag_cloud_body li.level_xxx { font-size:16px; font-weight:bold; }
#content .tag_cloud .tag_cloud_body li.level_xxxx { font-size:20px; font-weight:bold; }
#content .tag_cloud .tag_cloud_body li.level_xxxxx { font-size:24px; font-weight:bold; }
#content .tag_cloud .tag_cloud_body a { color:#08adfa; }

#sidebar .btn_register { width:250px; height:60px; position:relative; }
#sidebar .btn_register .btn_style2 { cursor:pointer; }
#sidebar .btn_register p { position:absolute; left:0; top:0; }
#sidebar .btn_register ul { position:absolute; left:10px; top:55px; width:230px; background-color:#2d2d2d; color:#fff; }
#sidebar .btn_register li a { display:block; color:#fff; text-decoration:none; font-size:14px; }
#sidebar .btn_register li a:hover,
#sidebar .btn_register li a:active { text-decoration:underline; }
#sidebar .btn_register li.regist_droppy { background:url(../images/common/icon_droppy.gif) 10px 12px no-repeat; border-bottom:1px solid #a8a8a8; }
#sidebar .btn_register li.regist_droppy a { padding:10px 5px 10px 30px; }
#sidebar .btn_register li.regist_fb { background:url(../images/common/icon_fb.gif) 10px 12px no-repeat; }
#sidebar .btn_register li.regist_fb a { padding:10px 5px 10px 30px; }

#sidebar .fb_like_box { margin-top:20px; }

#sidebar .twitter_box { margin-top:20px; }
#sidebar .twitter_box .tw_btn { text-align:left; }
#sidebar .twitter_box .tw_btn span { display:block; }
#sidebar .twitter_box .tw_btn .tw_tweet { margin-bottom:10px; }
#sidebar .twitter_box .tw_tl { margin-top:10px; }

#sidebar .genre_box { width:250px; margin-top:20px; padding:10px 0; background-color:#d93232; -moz-border-radius:5px;/*for Firefox*/ -webkit-border-radius:5px;/*for Safari and chrome*/ border-radius:5px;/*CSS3*/ }
#sidebar .genre_box h4 { font-size:14px; color:#fff; margin:0 10px; padding-left:20px; background:url(../images/toppage/icon_genre.gif) left center no-repeat; }
#sidebar .genre_box ul { width:248px; margin:10px 1px 0; padding:10px 0 5px; background-color:#fff; -moz-border-radius:5px;/*for Firefox*/ -webkit-border-radius:5px;/*for Safari and chrome*/ border-radius:5px;/*CSS3*/ }
#sidebar .genre_box li { margin:0 10px 5px; padding-left:15px; background:url(../images/toppage/icon_disc.gif) 0 6px no-repeat; }
#sidebar .genre_box li a { color:#08adfa; }
#sidebar .genre_box p { text-align:right; color:#fff; font-size:10px; margin:5px 5px 0 0; }
#sidebar .genre_box p a { color:#fff; }

#sidebar .popular_box { width:250px; padding:10px 0; background-color:#d93232; -moz-border-radius:5px;/*for Firefox*/ -webkit-border-radius:5px;/*for Safari and chrome*/ border-radius:5px;/*CSS3*/ }
#sidebar .popular_box h3 { font-size:14px; color:#fff; margin:0 10px; padding-left:20px; background:url(../images/common/icon_popular.gif) left center no-repeat; }
#sidebar .popular_box .popular_box_body { width:248px; margin:10px 1px 0; padding:10px 0 5px; background-color:#fff; -moz-border-radius:5px;/*for Firefox*/ -webkit-border-radius:5px;/*for Safari and chrome*/ border-radius:5px;/*CSS3*/ }
#sidebar .popular_box table { border-collapse:collapse; width:238px; margin:0 auto; }
#sidebar .popular_box table th { border-collapse:collapse; width:60px; vertical-align:top; font-weight:normal; text-align:right; padding:5px 0; border-bottom:1px solid #eee; }
#sidebar .popular_box table th p { font-size:14px; margin-right:20px; }
#sidebar .popular_box table td { border-collapse:collapse; width:188px; vertical-align:top; font-weight:normal; font-size:14px; text-align:left; padding:5px 0; border-bottom:1px solid #eee; }
#sidebar .popular_box table td p { font-size:14px; }
#sidebar .popular_box table tr.last th,
#sidebar .popular_box table tr.last td { border:none; }
#sidebar .popular_box table a { color:#08adfa; }


/*
	toppage - after
*/
#main #content_3column .ttl_mycal { font-size:18px; margin-bottom:10px; }

#main #sidebar_left .my_account { font-size:10px; line-height:160%; font-weight:normal; margin-bottom:10px; }
#main #sidebar_left .my_account strong { font-size:14px; }
#main #sidebar_left .my_account img { float:left; margin-right:7px; }
#main #sidebar_left #ui-tab { width:250px; }
#main #sidebar_left #ui-tab ul { width:250px; height:24px; }
#main #sidebar_left #ui-tab li { font-size:10px; margin:0; }
#main #sidebar_left #ui-tab li a { display:block; height:24px; text-decoration:none; }
#main #sidebar_left #ui-tab li span { display:block; font-weight:bold; height:24px; line-height:24px; }
#main #sidebar_left #ui-tab .ui-tab-1 { float:left; width:80px;  }
#main #sidebar_left #ui-tab .ui-tab-1 a,
#main #sidebar_left #ui-tab .ui-tab-1 span { -moz-border-radius-topleft:5px;/*for Firefox*/ -webkit-border-top-left-radius:5px;/*for Safari and chrome*/ border-top-left-radius:5px;/*CSS3*/ }
#main #sidebar_left #ui-tab .ui-tab-2 { float:left; width:100px; }
#main #sidebar_left #ui-tab .ui-tab-3 { float:left; width:70px; }
#main #sidebar_left #ui-tab .ui-tab-3 a,
#main #sidebar_left #ui-tab .ui-tab-3 span { -moz-border-radius-topright:5px;/*for Firefox*/ -webkit-border-top-right-radius:5px;/*for Safari and chrome*/ border-top-right-radius:5px;/*CSS3*/ }
#main #sidebar_left #ui-tab .ui-tab-2 span { /*border-left:1px solid #aaa; border-right:1px solid #aaa;*/ }
#main #sidebar_left #ui-tab .ui-tab-4 { float:left; width:125px; text-align:center;  }
#main #sidebar_left #ui-tab .ui-tab-4 a,
#main #sidebar_left #ui-tab .ui-tab-4 span { -moz-border-radius-topleft:5px;/*for Firefox*/ -webkit-border-top-left-radius:5px;/*for Safari and chrome*/ border-top-left-radius:5px;/*CSS3*/ }
#main #sidebar_left #ui-tab .ui-tab-5 { float:left; width:125px; text-align:center; }
#main #sidebar_left #ui-tab .ui-tab-5 a,
#main #sidebar_left #ui-tab .ui-tab-5 span { -moz-border-radius-topright:5px;/*for Firefox*/ -webkit-border-top-right-radius:5px;/*for Safari and chrome*/ border-top-right-radius:5px;/*CSS3*/ }

#main #sidebar_left #all_cal,
#main #sidebar_left #drop_cal,
#main #sidebar_left #make_cal,
#main #sidebar_left #all_eve,
#main #sidebar_left #drop_now { width:250px; background-color:#fff; padding:1px 0 40px; -moz-border-radius-bottomleft:5px;/*for Firefox*/ -webkit-border-bottom-left-radius:5px;/*for Safari and chrome*/ border-bottom-left-radius:5px;/*CSS3*/ -moz-border-radius-bottomright:5px;/*for Firefox*/ -webkit-border-bottom-right-radius:5px;/*for Safari and chrome*/ border-bottom-right-radius:5px;/*CSS3*/ }
#main #sidebar_left .limit_eve_ttl { width:100%; background-color:#000; color:#fff; text-align:center; padding:5px 0; }
#main #sidebar_left .event_list { width:100%; }
#main #sidebar_left .bg_today { background-color:#fcfedf; }
#main #sidebar_left .event_list .event_list_body { width:230px; margin:0 auto; padding:10px 0; border-bottom:1px solid #ededed; }
#main #sidebar_left .event_list .event_list_body .photo { float:left; width:53px; }
#main #sidebar_left .event_list .event_list_body .txt { float:right; width:177px; }
#main #sidebar_left .event_list .event_list_body .txt .ymd { float:left; font-weight:bold; padding-top:5px; }
#main #sidebar_left .event_list .event_list_body .txt .eve_name { float:left; font-weight:bold; color:#08adfa; padding-top:5px; }
#main #sidebar_left .event_list .event_list_body .txt .btn { float:right; }
#main #sidebar_left .event_list .event_list_body .txt .caption { clear:both; color:#08adfa; padding-top:5px; }
#main #sidebar_left .event_list .event_list_body .txt .eve_ttl,
#main #sidebar_left .event_list .event_list_body .txt .cal_ttl { clear:both; padding-top:5px; }
#main #sidebar_left .event_list .event_list_body .txt .hms { font-size:10px; color:#888; }

#sidebar_right h3 { font-size:10px; color:#444; margin-top:20px; padding-bottom:5px; border-bottom:1px solid #ccc; }
#sidebar_right h3.first { margin-top:0; }
#sidebar_right .cal_list { width:178px; margin:5px 0 0; padding-bottom:5px; border-bottom:1px solid #ededed; }
#sidebar_right .cal_list .photo { float:left; width:53px; }
#sidebar_right .cal_list .txt { float:right; width:125px; }
#sidebar_right .cal_list .txt p { color:#08adfa; font-weight:bold; margin-bottom:5px; }
#sidebar_right .cal_list .txt .btn { width:78px; }

#sidebar_right #ui-tab-2 { width:178px; }
#sidebar_right #ui-tab-2 ul { width:175px; height:20px; margin:5px auto 0; }
#sidebar_right #ui-tab-2 li { float:left; color:#8d8c8c; font-size:10px; }
#sidebar_right #ui-tab-2 li a { text-decoration:none; -moz-border-radius:8px;/*for Firefox*/ -webkit-border-radius:8px;/*for Safari and chrome*/ border-radius:8px;/*CSS3*/ }
#sidebar_right #ui-tab-2 li span { display:block; height:20px; line-height:20px; -moz-border-radius:8px;/*for Firefox*/ -webkit-border-radius:8px;/*for Safari and chrome*/ border-radius:8px;/*CSS3*/ }
#sidebar_right #ui-tab-2 li.ui-tab-2-1 { width:60px; height:20px; text-align:center; }
#sidebar_right #ui-tab-2 li.ui-tab-2-1 a,
#sidebar_right #ui-tab-2 li.ui-tab-2-1 span { display:block; width:55px; height:20px; }
#sidebar_right #ui-tab-2 li.ui-tab-2-2 { width:60px; height:20px; text-align:center; }
#sidebar_right #ui-tab-2 li.ui-tab-2-2 a,
#sidebar_right #ui-tab-2 li.ui-tab-2-2 span { display:block; width:55px; height:20px; }
#sidebar_right #ui-tab-2 li.ui-tab-2-3 { width:55px; height:20px; text-align:center; }
#sidebar_right #ui-tab-2 li.ui-tab-2-3 a,
#sidebar_right #ui-tab-2 li.ui-tab-2-3 span { display:block; width:55px; height:20px; }
#sidebar_right #ui-tab-2 #today_cal,
#sidebar_right #ui-tab-2 #monthly_cal,
#sidebar_right #ui-tab-2 #all_cal-2 { padding-top:5px; }

#sidebar_right .more { width:178px; color:#6b6b6b; font-size:10px; margin-top:7px; text-align:center; background:#eaeaea url(../images/common/bg_more.gif) left bottom repeat-x; -moz-border-radius:10px;/*for Firefox*/ -webkit-border-radius:10px;/*for Safari and chrome*/ border-radius:10px;/*CSS3*/ }
#sidebar_right .more a { display:block; width:178px; color:#6b6b6b; padding:5px 0; }


/*
	recommend
*/
.genre_search { width:680px; background-color:#f5f5f5; padding:10px 0; -moz-border-radius:10px;/*for Firefox*/ -webkit-border-radius:10px;/*for Safari and chrome*/ border-radius:10px;/*CSS3*/ }
.genre_search table { border-collapse:collapse; }
.genre_search table th { border-collapse:collapse; text-align:left; padding:0 10px 0 15px; vertical-align:middle; font-weight:bold; font-size:14px; }
.genre_search table td { border-collapse:collapse; text-align:left; vertical-align:middle; font-weight:normal; }


/*
	lgoin
*/
.login_box { width:460px; margin:0 auto; }
.login_box h2.droppy { width:460px; height:38px; margin-bottom:25px; background:url(../images/login/bg_login_droppy.gif) no-repeat; }
.login_box h2.facebook { width:460px; height:38px; margin-bottom:25px; background:url(../images/login/bg_login_fb.gif) no-repeat; }
.login_box h2 strong { display:block; color:#000; font-size:16px; padding:10px 0 0 43px; }

.login_box table { border-collapse:collapse; }
.login_box table th { border-collapse:collapse; text-align:left; font-weight:bold; padding:0 15px 8px 38px; vertical-align:middle; }
.login_box table td { border-collapse:collapse; text-align:left; font-weight:normal; padding-bottom:8px; vertical-align:middle; }
.login_box table td input { font-size:16px; width:300px; height:32px; border:1px solid #ccc; background-color:#fff; -moz-border-radius:4px;/*for Firefox*/ -webkit-border-radius:4px;/*for Safari and chrome*/ border-radius:4px;/*CSS3*/ -webkit-box-shadow:inset 0px 0px 2px 0px #ccc;/*for Safari and chrome*/ -moz-box-shadow:inset 0px 0px 2px 0px #ccc;/*forFirefox*/ box-shadow:inset 0px 0px 2px 0px #ccc;/*CSS3*/ }
.login_box .auto_login { margin-left:113px; }
.login_box .auto_login input { vertical-align:middle; margin-right:5px; }
.login_box .auto_login label { cursor:pointer; }
.login_box .btn_login_fb { text-align:center; }


/*
	privacy, rule
*/
.other_box { width:800px; margin:0 auto; padding:0 0 25px; text-align:left; }
.other_box h2 { font-size:20px; color:#333; margin:0 0 5px; }
.other_box h3 { font-size:20px; font-weight:normal; color:#333; margin:0 0 10px; }
.other_box p { line-height:1.6; color:#333; margin:0 10px 30px; }
.other_box p.last { margin:0 10px 0; }
.other_box a { color:#08adfa; text-decoration:none; }
.other_box a:hover,
.other_box a:active { text-decoration:underline; }
.other_box .contact_us { border-left:3px solid #eee; padding-left:10px; }


/*
	news
*/
.news_box { width:800px; margin:0 auto; }
.news_box h2 { font-size:20px; color:#333; margin:0; }
.news_box h3 { font-size:20px; font-weight:normal; color:#333; margin:40px 0 0; }
.news_box p { line-height:1.6; }
.news_box p.ymd { color:#888; margin:0 0 15px; }
.news_box a { color:#08adfa; text-decoration:none; }
.news_box a:hover,
.news_box a:active { text-decoration:underline; }



/*
	facebook, account
*/
.ttl_step { text-align:center; margin-bottom:25px; }

.fb_sync_box { width:450px; margin:0 auto; padding:15px 0; border:5px solid #f4f4f4; text-align:center; }
.fb_sync_box h3 { font-size:14px; margin-bottom:10px; }
.fb_sync_box div { }
.fb_sync_box p { color:#08adfa; font-size:10px; font-weight:bold; }
.fb_sync_box p a { color:#08adfa; text-decoration:none; }
.fb_sync_box p a:hover,
.fb_sync_box p a:active { text-decoration:underline; }
.fb_sync_box p img { vertical-align:middle; margin-right:5px; }

.cal_sync_box { width:460px; margin:0 auto; }
.cal_sync_box h3 { font-size:14px; padding:0 5px 5px; border-bottom:1px solid #d8d8d8; }
.cal_sync_box ul { padding-top:10px; }
.cal_sync_box li { width:460px; margin-top:10px; padding:10px 0 15px; font-size:14px; border-bottom:1px solid #f0f0f0; }
.cal_sync_box li input { margin:0 55px 0 5px; vertical-align:middle; }
.cal_sync_box li label { cursor:pointer; }
.cal_sync_box li.gcal { background:url(../images/facebook/icon_gcal.gif) 28px 3px no-repeat; }
.cal_sync_box li.mcal { background:url(../images/facebook/icon_mcal.gif) 28px 3px no-repeat; }
.cal_sync_box li.ical { background:url(../images/facebook/icon_ical.gif) 28px 3px no-repeat; }
.cal_sync_box li.ocal { background:url(../images/facebook/icon_ocal.gif) 28px 3px no-repeat; }
.cal_sync_box li.scal { background:url(../images/facebook/icon_scal.gif) 28px 3px no-repeat; }

.cal_drop_box h3 { text-align:center; font-size:16px; margin-bottom:10px; }
.cal_drop_box .cal_list { width:930px; margin:0 auto; padding:20px 0 1px; border:10px solid #f4f4f4; }
.cal_drop_box .cal_list p { font-size:14px; color:#000; margin-bottom:5px; }
.cal_drop_box .cal_list p strong { display:block; margin:0 15px; }
.cal_drop_box .cal_list div { width:910px; margin:0 auto 20px; padding-top:10px; border-top:1px solid #d8d8d8; }
.cal_drop_box .cal_list dl { float:left; width:130px; text-align:center; }
.cal_drop_box .cal_list dt { margin-bottom:5px; }
.cal_drop_box .cal_list dt img { vertical-align:top; margin-bottom:5px; }

.cal_drop_box .cat_dropp_body { width:711px; margin:0 auto; }
.cal_drop_box .cat_dropp_body ul { width:711px; height:147px; margin-top:10px; }
.cal_drop_box .cat_dropp_body ul.first { margin-top:25px; }
.cal_drop_box .cat_dropp_body li { float:left; display:inline; width:227px; height:147px; text-align:center; font-size:22px; line-height:147px; margin-right:15px; background:url(../images/common/bg_btn_cat_dropp.gif) no-repeat; }
.cal_drop_box .cat_dropp_body li a { display:block; width:227px; height:147px; color:#999; }
.cal_drop_box .cat_dropp_body li a:hover,
.cal_drop_box .cat_dropp_body li a:active { background:url(../images/common/bg_btn_cat_dropp_on.gif) no-repeat; }
.cal_drop_box .cat_dropp_body li.last { margin-right:0; }

.account_form_box { width:460px; margin:0 auto; }
.account_form_box table { border-collapse:collapse; margin:0 auto; text-align:center; }
.account_form_box table th { border-collapse:collapse; color:#444; font-weight:bold; text-align:right; vertical-align:middle; padding-right:20px; padding-bottom:10px; }
.account_form_box table td { border-collapse:collapse; color:#444; text-align:left; vertical-align:middle; padding-bottom:10px; }
.account_form_box table .last th,
.account_form_box table .last td { padding-bottom:0; }
.account_form_box table td .txt_field { font-size:16px; width:300px; height:32px; border:1px solid #ccc; background-color:#fff; -moz-border-radius:4px;/*for Firefox*/ -webkit-border-radius:4px;/*for Safari and chrome*/ border-radius:4px;/*CSS3*/ -webkit-box-shadow:inset 0px 0px 2px 0px #ccc;/*for Safari and chrome*/ -moz-box-shadow:inset 0px 0px 2px 0px #ccc;/*forFirefox*/ box-shadow:inset 0px 0px 2px 0px #ccc;/*CSS3*/ }
.account_form_box table .last td input { vertical-align:middle; margin:0 10px 0 20px; }
.account_form_box table .last td .first input { margin:0 10px 0 0; }
.account_form_box table .last td { line-height:180%; }
.account_form_box table td .field { width:237px; height:31px; position:relative; }
.account_form_box table td .field input { position:absolute; left:5px; top:5px; z-index:-1; }
.account_form_box table td .field label { line-height:31px; }
.account_form_box table td .male { display:block; width:79px; height:31px; position:absolute; left:0; top:0; z-index:9999; text-align:center; background:url(../images/account/bg_radio_sex.gif) no-repeat; }
.account_form_box table td .male:hover { background:url(../images/account/bg_radio_sex_o.gif) no-repeat; color:#fff; }
.account_form_box table td .female { display:block; width:79px; height:31px; position:absolute; left:79px; top:0; z-index:9999; text-align:center; background:url(../images/account/bg_radio_sex.gif) -79px 0 no-repeat; }
.account_form_box table td .female:hover { background:url(../images/account/bg_radio_sex_o.gif) -79px 0 no-repeat; color:#fff; }
.account_form_box table td .corporation { display:block; width:79px; height:31px; position:absolute; left:158px; top:0; z-index:9999; text-align:center; background:url(../images/account/bg_radio_sex.gif) -158px 0 no-repeat; }
.account_form_box table td .corporation:hover { background:url(../images/account/bg_radio_sex_o.gif) -158px 0 no-repeat; color:#fff; }
.account_form_box table td .male.selected { background:url(../images/account/bg_radio_sex_o.gif) no-repeat; color:#fff; }
.account_form_box table td .female.selected { background:url(../images/account/bg_radio_sex_o.gif) -79px 0 no-repeat; color:#fff; }
.account_form_box table td .corporation.selected { background:url(../images/account/bg_radio_sex_o.gif) -158px 0 no-repeat; color:#fff; }
.account_form_box table label { cursor: pointer; }
.account_form_box table .note { float:left; padding:10px 10px 0 7px; }
/* .account_form_box table td select { width:67px; height:31px; background:url(../images/account/bg_select_style1.gif) no-repeat; border:none; } */

.reason_ymd_entry { cursor:pointer; margin-top:5px; font-size:10px; font-weight:bold; color:#08adfa; }
.reason_ymd_entry:hover,
.reason_ymd_entry:active { text-decoration:underline; }


/*
	makecal
*/
.make_cal_box { width:460px; margin:0 auto; text-align:center; }
.make_cal_box table { border-collapse:collapse; margin:0 auto; }
.make_cal_box table th { border-collapse:collapse; width:150px; color:#444; font-weight:bold; text-align:right; vertical-align:middle; padding-bottom:20px; white-space:nowrap; }
.make_cal_box table th span { display:block; margin-right:20px; }
.make_cal_box table th span span { display:inline; margin:0; font-weight:normal; font-size:10px; color:#ff0000; }
.make_cal_box table td { border-collapse:collapse; color:#444; text-align:left; vertical-align:middle; padding-bottom:20px; }
.make_cal_box table .set_img th,
.make_cal_box table .set_img td { vertical-align:top; }
.make_cal_box table .last th,
.make_cal_box table .last td { padding-bottom:0; }
.make_cal_box table td .txt_field { font-size:16px; width:300px; height:32px; border:1px solid #ccc; background-color:#fff; -moz-border-radius:4px;/*for Firefox*/ -webkit-border-radius:4px;/*for Safari and chrome*/ border-radius:4px;/*CSS3*/ -webkit-box-shadow:inset 0px 0px 2px 0px #ccc;/*for Safari and chrome*/ -moz-box-shadow:inset 0px 0px 2px 0px #ccc;/*forFirefox*/ box-shadow:inset 0px 0px 2px 0px #ccc;/*CSS3*/ }
.make_cal_box table td .size_set_txt { font-size:10px; }
.make_cal_box table td textarea { width:300px; height:100px; border:1px solid #ccc; background-color:#fff; -moz-border-radius:4px;/*for Firefox*/ -webkit-border-radius:4px;/*for Safari and chrome*/ border-radius:4px;/*CSS3*/ -webkit-box-shadow:inset 0px 0px 2px 0px #ccc;/*for Safari and chrome*/ -moz-box-shadow:inset 0px 0px 2px 0px #ccc;/*forFirefox*/ box-shadow:inset 0px 0px 2px 0px #ccc;/*CSS3*/ }
.make_cal_box table td label { cursor:pointer; }
.make_cal_box table td label input { vertical-align:middle; margin-right:5px; }

.make_cal_box .more_cal_box { padding-top:20px; }

.make_cal_box .more { width:460px; height:42px; margin-top:30px; background:url(../images/makecal/bg_btn_more.gif) no-repeat; text-align:center; font-size:16px; font-weight:bold; line-height:42px; }
.make_cal_box .more { display:block; width:460px; height:42px; cursor:pointer; color:#666; }
.make_cal_box .more:hover,
.make_cal_box .more:active { background:url(../images/makecal/bg_btn_more_o.gif) no-repeat; text-decoration:underline; }

.make_event_box { width:460px; margin:0 auto; }
.make_event_box .skip { text-align:right; margin-bottom:20px; color:#08adfa; font-size:14px; font-weight:bold; }
.make_event_box .skip a { color:#08adfa; }
.make_event_box table { border-collapse:collapse; margin:0 auto; color:#444; }
.make_event_box table th { border-collapse:collapse; text-align:right; font-weight:bold; vertical-align:middle; padding:10px 0; font-size:14px; white-space:nowrap; }
.make_event_box table th strong { display:block; margin-right:20px; }
.make_event_box table td { border-collapse:collapse; text-align:left; vertical-align:middle; padding:10px 0; }
.make_event_box table td .txt_field { font-size:16px; width:320px; height:32px; border:1px solid #ccc; background-color:#fff; -moz-border-radius:4px;/*for Firefox*/ -webkit-border-radius:4px;/*for Safari and chrome*/ border-radius:4px;/*CSS3*/ -webkit-box-shadow:inset 0px 0px 2px 0px #ccc;/*for Safari and chrome*/ -moz-box-shadow:inset 0px 0px 2px 0px #ccc;/*forFirefox*/ box-shadow:inset 0px 0px 2px 0px #ccc;/*CSS3*/ }
.make_event_box table td .txt_field_s { font-size:16px; width:250px; height:32px; margin-left:10px; border:1px solid #ccc; background-color:#fff; -moz-border-radius:4px;/*for Firefox*/ -webkit-border-radius:4px;/*for Safari and chrome*/ border-radius:4px;/*CSS3*/ -webkit-box-shadow:inset 0px 0px 2px 0px #ccc;/*for Safari and chrome*/ -moz-box-shadow:inset 0px 0px 2px 0px #ccc;/*forFirefox*/ box-shadow:inset 0px 0px 2px 0px #ccc;/*CSS3*/ }
.make_event_box table td .txt_field_ss,
.make_event_box .add_sche_ymd .txt_field_ss { font-size:16px; width:120px; height:32px; border:1px solid #ccc; background-color:#fff; -moz-border-radius:4px;/*for Firefox*/ -webkit-border-radius:4px;/*for Safari and chrome*/ border-radius:4px;/*CSS3*/ -webkit-box-shadow:inset 0px 0px 2px 0px #ccc;/*for Safari and chrome*/ -moz-box-shadow:inset 0px 0px 2px 0px #ccc;/*forFirefox*/ box-shadow:inset 0px 0px 2px 0px #ccc;/*CSS3*/ }
.make_event_box table td .txt_field_sss { font-size:16px; width:100px; height:32px; border:1px solid #ccc; background-color:#fff; -moz-border-radius:4px;/*for Firefox*/ -webkit-border-radius:4px;/*for Safari and chrome*/ border-radius:4px;/*CSS3*/ -webkit-box-shadow:inset 0px 0px 2px 0px #ccc;/*for Safari and chrome*/ -moz-box-shadow:inset 0px 0px 2px 0px #ccc;/*forFirefox*/ box-shadow:inset 0px 0px 2px 0px #ccc;/*CSS3*/ }
.make_event_box table td .txt_field_ssss { font-size:16px; width:80px; height:32px; border:1px solid #ccc; background-color:#fff; -moz-border-radius:4px;/*for Firefox*/ -webkit-border-radius:4px;/*for Safari and chrome*/ border-radius:4px;/*CSS3*/ -webkit-box-shadow:inset 0px 0px 2px 0px #ccc;/*for Safari and chrome*/ -moz-box-shadow:inset 0px 0px 2px 0px #ccc;/*forFirefox*/ box-shadow:inset 0px 0px 2px 0px #ccc;/*CSS3*/ }
.make_event_box table td textarea { width:350px; height:100px; border:1px solid #ccc; background-color:#fff; -moz-border-radius:4px;/*for Firefox*/ -webkit-border-radius:4px;/*for Safari and chrome*/ border-radius:4px;/*CSS3*/ -webkit-box-shadow:inset 0px 0px 2px 0px #ccc;/*for Safari and chrome*/ -moz-box-shadow:inset 0px 0px 2px 0px #ccc;/*forFirefox*/ box-shadow:inset 0px 0px 2px 0px #ccc;/*CSS3*/ }
.make_event_box table td label { cursor: pointer; }
.make_event_box table td label input { vertical-align:middle; margin-right:5px; }
.make_event_box table td select { vertical-align:middle; }
.make_event_box table p.end_set { font-weight:bold; color:#08adfa; cursor:pointer; margin-bottom:5px; padding-left:20px; background:url(../images/common/icon_event_arrow.gif) left center no-repeat; }
.make_event_box table p.end_set:hover,
.make_event_box table p.end_set:active { text-decoration:underline; }
.make_event_box table .photo { margin-bottom:5px; }
.make_event_box table .size_set_txt { font-size:10px; display:block; margin-top:5px; }

.make_event_box .more { width:460px; height:42px; margin-top:30px; background:url(../images/makecal/bg_btn_more.gif) no-repeat; text-align:center; font-size:16px; font-weight:bold; line-height:42px; }
.make_event_box .more { display:block; width:460px; height:42px; cursor:pointer; color:#666; }
.make_event_box .more:hover,
.make_event_box .more:active { background:url(../images/makecal/bg_btn_more_o.gif) no-repeat; text-decoration:underline; }

.make_event_box .more_sche_box { padding-top:20px; }

.make_event_box .add_sche { color:#333; cursor:pointer; background:url(../images/common/icon_add.gif) 0 3px no-repeat; font-weight:bold; margin:10px 0 0 30px; padding:2px 0 2px 20px; }
.make_event_box .add_sche:hover,
.make_event_box .add_sche:active { text-decoration:underline; }

.make_event_box .add_sche_ymd { margin:10px 0 0 50px; }
.make_event_box .add_sche_ymd select { vertical-align:middle; }

.make_event_box .repeat_seciton_over label { display:block; padding-bottom:5px; }
.make_event_box .repeat_seciton_over input { vertical-align:middle; }


/*
	setting
*/
#sidebar_left .setting_menu { width:250px; margin:0 auto; }
#sidebar_left .setting_menu li { width:250px; margin-bottom:3px; background-color:#f6f6f6; -moz-border-radius:4px;/*for Firefox*/ -webkit-border-radius:4px;/*for Safari and chrome*/ border-radius:4px;/*CSS3*/ }
#sidebar_left .setting_menu a { display:block; text-decoration:none; padding:5px 10px 5px 32px; }
#sidebar_left .setting_menu .set_account a { background:#f6f6f6 url(../images/setting/icon_account.png) 10px center no-repeat; }
#sidebar_left .setting_menu .set_cal a { background:#f6f6f6 url(../images/setting/icon_cal.png) 10px center no-repeat; }
#sidebar_left .setting_menu .set_event a { background:#f6f6f6 url(../images/setting/icon_event.png) 10px center no-repeat; }
#sidebar_left .setting_menu .set_btn a { background:#f6f6f6 url(../images/setting/icon_btn.png) 10px center no-repeat; }
#sidebar_left .setting_menu a:hover,
#sidebar_left .setting_menu a:active { background-color:#f9f9f9; }
#sidebar_left .setting_menu .active a { background-color:#fff; font-weight:bold; }

.setting_box { width:680px; min-height:600px; }
.setting_box h2 { font-size:16px; border-bottom:1px solid #c8c8c8; padding-bottom:5px; }
.setting_box table { border-collapse:collapse; color:#444; }
.setting_box table th { border-collapse:collapse; text-align:left; width:170px; font-weight:bold; vertical-align:top; padding:14px 0 10px; border-bottom:1px solid #e8e8e8; }
.setting_box table th strong { display:block; margin:0 10px; }
.setting_box table td { border-collapse:collapse; text-align:left; vertical-align:top; padding:14px 0 10px; border-bottom:1px solid #e8e8e8; }
.setting_box table td.txt { width:460px; }
.setting_box table td.rewrite { width:50px; font-size:10px; text-align:center; vertical-align:middle; }
.setting_box table td.rewrite span { color:#08adfa; cursor:pointer; }
.setting_box table td .txt_field { font-size:16px; width:300px; height:32px; border:1px solid #ccc; background-color:#fff; -moz-border-radius:4px;/*for Firefox*/ -webkit-border-radius:4px;/*for Safari and chrome*/ border-radius:4px;/*CSS3*/ -webkit-box-shadow:inset 0px 0px 2px 0px #ccc;/*for Safari and chrome*/ -moz-box-shadow:inset 0px 0px 2px 0px #ccc;/*forFirefox*/ box-shadow:inset 0px 0px 2px 0px #ccc;/*CSS3*/ }
.setting_box table td textarea { width:300px; height:100px; border:1px solid #ccc; background-color:#fff; -moz-border-radius:4px;/*for Firefox*/ -webkit-border-radius:4px;/*for Safari and chrome*/ border-radius:4px;/*CSS3*/ -webkit-box-shadow:inset 0px 0px 2px 0px #ccc;/*for Safari and chrome*/ -moz-box-shadow:inset 0px 0px 2px 0px #ccc;/*forFirefox*/ box-shadow:inset 0px 0px 2px 0px #ccc;/*CSS3*/ }
.setting_box table td .icon_pre { margin-bottom:5px; }
.setting_box table td label { cursor:pointer; }
.setting_box table td label input { vertical-align:middle; margin-right:5px; }
.setting_box table .active { background-color:#f8f8f8; }
.setting_box table .btn_save_cancel { width:192px; height:24px; margin-top:5px;  }
.setting_box table .btn_save_cancel li { cursor:pointer; }
.setting_box table .btn_save_cancel .btn_save { float:left; width:91px; height:24px; background:url(../images/setting/bg_btn_save.gif) no-repeat; text-align:center; color:#fff; font-weight:bold; line-height:24px; }
.setting_box table .btn_save_cancel .btn_cancel { float:right; width:91px; height:24px; background:url(../images/setting/bg_btn_cancel.gif) no-repeat; text-align:center; color:#444; font-weight:bold; line-height:24px; }


/*
	makeevent
*/
#modalwin { width:640px; background-color:#fff; min-height:100px; -moz-border-radius:10px;/*for Firefox*/ -webkit-border-radius:10px;/*for Safari and chrome*/ border-radius:10px;/*CSS3*/ -moz-box-shadow: 0 0 15px #000; -webkit-box-shadow: 0 0 15px #000;}
#modalwin .overlay_body { width:600px; margin:0 auto; padding:15px 0; }
#modalwin .overlay_body h3 { font-size:16px; border-bottom:1px solid #d8d8d8; padding:2px 0 7px; background:url(../images/common/icon_make_event.gif) no-repeat; }
#modalwin .overlay_body h3 strong { display:block; margin:0 30px; }
#modalwin .overlay_body table { border-collapse:collapse; margin:30px auto 0; color:#444; }
#modalwin .overlay_body table th { border-collapse:collapse; text-align:right; font-weight:bold; vertical-align:middle; padding:7px 0; font-size:14px; }
#modalwin .overlay_body table th strong { display:block; margin-right:15px; }
#modalwin .overlay_body table td { border-collapse:collapse; text-align:left; vertical-align:middle; padding:7px 0; }
#modalwin .overlay_body table td .txt_field { font-size:16px; width:470px; height:32px; border:1px solid #ccc; background-color:#fff; -moz-border-radius:4px;/*for Firefox*/ -webkit-border-radius:4px;/*for Safari and chrome*/ border-radius:4px;/*CSS3*/ -webkit-box-shadow:inset 0px 0px 2px 0px #ccc;/*for Safari and chrome*/ -moz-box-shadow:inset 0px 0px 2px 0px #ccc;/*forFirefox*/ box-shadow:inset 0px 0px 2px 0px #ccc;/*CSS3*/ }
#modalwin .overlay_body table td .txt_field_s { font-size:16px; width:350px; height:32px; border:1px solid #ccc; background-color:#fff; -moz-border-radius:4px;/*for Firefox*/ -webkit-border-radius:4px;/*for Safari and chrome*/ border-radius:4px;/*CSS3*/ -webkit-box-shadow:inset 0px 0px 2px 0px #ccc;/*for Safari and chrome*/ -moz-box-shadow:inset 0px 0px 2px 0px #ccc;/*forFirefox*/ box-shadow:inset 0px 0px 2px 0px #ccc;/*CSS3*/ }
#modalwin .overlay_body table td .txt_field_ss,
#modalwin .overlay_body .add_sche_ymd .txt_field_ss { font-size:16px; width:150px; height:32px; border:1px solid #ccc; background-color:#fff; -moz-border-radius:4px;/*for Firefox*/ -webkit-border-radius:4px;/*for Safari and chrome*/ border-radius:4px;/*CSS3*/ -webkit-box-shadow:inset 0px 0px 2px 0px #ccc;/*for Safari and chrome*/ -moz-box-shadow:inset 0px 0px 2px 0px #ccc;/*forFirefox*/ box-shadow:inset 0px 0px 2px 0px #ccc;/*CSS3*/ }
#modalwin .overlay_body table td .txt_field_sss { font-size:16px; width:100px; height:32px; border:1px solid #ccc; background-color:#fff; -moz-border-radius:4px;/*for Firefox*/ -webkit-border-radius:4px;/*for Safari and chrome*/ border-radius:4px;/*CSS3*/ -webkit-box-shadow:inset 0px 0px 2px 0px #ccc;/*for Safari and chrome*/ -moz-box-shadow:inset 0px 0px 2px 0px #ccc;/*forFirefox*/ box-shadow:inset 0px 0px 2px 0px #ccc;/*CSS3*/ }
#modalwin .overlay_body table td .txt_field_ssss { font-size:16px; width:80px; height:32px; border:1px solid #ccc; background-color:#fff; -moz-border-radius:4px;/*for Firefox*/ -webkit-border-radius:4px;/*for Safari and chrome*/ border-radius:4px;/*CSS3*/ -webkit-box-shadow:inset 0px 0px 2px 0px #ccc;/*for Safari and chrome*/ -moz-box-shadow:inset 0px 0px 2px 0px #ccc;/*forFirefox*/ box-shadow:inset 0px 0px 2px 0px #ccc;/*CSS3*/ }
#modalwin .overlay_body table td textarea { width:470px; height:100px; border:1px solid #ccc; background-color:#fff; -moz-border-radius:4px;/*for Firefox*/ -webkit-border-radius:4px;/*for Safari and chrome*/ border-radius:4px;/*CSS3*/ -webkit-box-shadow:inset 0px 0px 2px 0px #ccc;/*for Safari and chrome*/ -moz-box-shadow:inset 0px 0px 2px 0px #ccc;/*forFirefox*/ box-shadow:inset 0px 0px 2px 0px #ccc;/*CSS3*/ }
#modalwin .overlay_body table td label { cursor: pointer; }
#modalwin .overlay_body table td label input { vertical-align:middle; margin-right:5px; }
#modalwin .overlay_body table td select { vertical-align:middle; }
#modalwin .overlay_body table p.end_set { font-weight:bold; color:#08adfa; cursor:pointer; margin-bottom:5px; padding-left:20px; background:url(../images/common/icon_event_arrow.gif) left center no-repeat; }
#modalwin .overlay_body table p.end_set:hover,
#modalwin .overlay_body table p.end_set:active { text-decoration:underline; }
#modalwin .overlay_body table .photo { margin-bottom:5px; }
#modalwin .overlay_body table .size_set_txt { font-size:10px; display:block; margin-top:5px; }

#modalwin .overlay_body .more { width:600px; height:42px; margin-top:30px; background:url(../images/common/bg_btn_more.gif) no-repeat; text-align:center; font-size:16px; font-weight:bold; line-height:42px; }
#modalwin .overlay_body .more { display:block; width:600px; height:42px; cursor:pointer; color:#666; }
#modalwin .overlay_body .more:hover,
#modalwin .overlay_body .more:active { background:url(../images/common/bg_btn_more_o.gif) no-repeat; text-decoration:underline; }

#modalwin .overlay_body .add_sche { color:#333; cursor:pointer; background:url(../images/common/icon_add.gif) 0 3px no-repeat; font-weight:bold; margin:10px 0 0 30px; padding:2px 0 2px 20px; }
#modalwin .overlay_body .add_sche:hover,
#modalwin .overlay_body .add_sche:active { text-decoration:underline; }

#modalwin .overlay_body .add_sche_ymd { margin:10px 0 0 50px; }
#modalwin .overlay_body .add_sche_ymd select { vertical-align:middle; }

#modalwin .overlay_body .repeat_seciton_over label { display:block; padding-bottom:5px; }
#modalwin .overlay_body .repeat_seciton_over input { vertical-align:middle; }


/*
	calender
*/
.cal_menu { width:490px; height:29px; margin-bottom:15px; }
.cal_menu li { float:left; cursor:pointer; text-align:center; }
.cal_menu a { display:block; }
.cal_menu span { display:block; line-height:29px; font-size:10px; }
.cal_menu .make_button { width:122px; height:29px; background:url(../images/cal/bg_btn_cal_menu.gif) 0 0 no-repeat; }
.cal_menu .make_button a { width:122px; height:29px; }
.cal_menu .make_button:hover,
.cal_menu .make_button:active { background:url(../images/cal/bg_btn_cal_menu.gif) 0 -29px no-repeat; }
.cal_menu .make_button span { /*margin-left:26px;*/ }
.cal_menu .cal_set { width:122px; height:29px; background:url(../images/cal/bg_btn_cal_menu.gif) -122px 0 no-repeat; }
.cal_menu .cal_set a { width:122px; height:29px; }
.cal_menu .cal_set:hover,
.cal_menu .cal_set:active { background:url(../images/cal/bg_btn_cal_menu.gif) -122px -29px no-repeat; }
.cal_menu .cal_set span { /*margin-left:20px;*/ }
.cal_menu .preview { width:123px; height:29px; background:url(../images/cal/bg_btn_cal_menu.gif) -244px 0 no-repeat; }
.cal_menu .preview a { width:123px; height:29px; }
.cal_menu .preview:hover,
.cal_menu .preview:active { background:url(../images/cal/bg_btn_cal_menu.gif) -244px -29px no-repeat; }
.cal_menu .preview span { /*margin-left:35px;*/ }
.cal_menu .invite { width:123px; height:29px; background:url(../images/cal/bg_btn_cal_menu.gif) -367px 0 no-repeat; }
.cal_menu .invite a { width:123px; height:29px; }
.cal_menu .invite:hover,
.cal_menu .invite:active { background:url(../images/cal/bg_btn_cal_menu.gif) -367px -29px no-repeat; }
.cal_menu .invite span { /*margin-left:33px;*/ }

.cal_info_box { width:490px; }
.cal_info_box .photo { float:left; width:130px; }
.cal_info_box .txt { float:right; width:360px; }
.cal_info_box .txt h2 { font-size:16px; margin-bottom:10px; }
.cal_info_box .txt .author { font-size:10px; line-height:1.4; color:#888; font-weight:normal; text-align:right; margin-top:5px; }

.cal_social_box { width:490px; margin:5px 0 10px; }
.cal_social_box .btn_drop { float:left; }
.cal_social_box .btn_tweet { float:right; padding-right:20px; }
.cal_social_box .btn_like { float:right; }

.make_bundle { width:145px; height:29px; margin:10px 0 0 345px; background:url(../images/cal/bg_btn_cal_make_multiple.gif) 0 0 no-repeat; }
.make_bundle a { width:145px; height:29px; }
.make_bundle:hover,
.make_bundle:active { background:url(../images/cal/bg_btn_cal_make_multiple.gif) 0 -29px no-repeat; }
.make_bundle span { display:block; line-height:29px; font-size:10px; margin-left:28px; }

#modalwin_make_button { width:640px; background-color:#fff; min-height:100px; -moz-border-radius:10px;/*for Firefox*/ -webkit-border-radius:10px;/*for Safari and chrome*/ border-radius:10px;/*CSS3*/ -moz-box-shadow: 0 0 15px #000; -webkit-box-shadow: 0 0 15px #000; }
#modalwin_make_button .overlay_body { width:600px; margin:0 auto; padding:15px 0; }
#modalwin_make_button .overlay_body h3 { font-size:16px; border-bottom:1px solid #d8d8d8; padding:2px 0 7px; background:url(../images/common/icon_make_event.gif) no-repeat; }
#modalwin_make_button .overlay_body h3 strong { display:block; margin:0 30px; }
#modalwin_make_button .overlay_body .caption { font-size:14px; margin:10px 30px 0; }
#modalwin_make_button .overlay_body .button_select_box { width:540px; margin:0 auto; padding:10px 0; background-color:#fcf5ef; -moz-border-radius:5px;/*for Firefox*/ -webkit-border-radius:5px;/*for Safari and chrome*/ border-radius:5px;/*CSS3*/ }
#modalwin_make_button .overlay_body .button_select_box .btn_type_box { float:left; width:135px; text-align:center; }
#modalwin_make_button .overlay_body .button_select_box .btn_type_box input { margin-bottom:5px; }
#modalwin_make_button .overlay_body .button_select_box .btn_type_box label { cursor:pointer; }
#modalwin_make_button .overlay_body .button_select_box .btn_type_box img { vertical-align:top; }
#modalwin_make_button .overlay_body h4 { font-size:14px; font-weight:bold; margin:25px 30px 5px; }
#modalwin_make_button .overlay_body h4 span { font-size:12px; font-weight:normal; color:#666; }
#modalwin_make_button .overlay_body .code_box { width:540px; height:160px; margin:0 auto; }
#modalwin_make_button .overlay_body textarea { width:540px; height:160px; border:1px solid #ccc; background-color:#fff; }

#modalwin_make_multiple { width:640px; background-color:#fff; min-height:100px; -moz-border-radius:10px;/*for Firefox*/ -webkit-border-radius:10px;/*for Safari and chrome*/ border-radius:10px;/*CSS3*/ -moz-box-shadow: 0 0 15px #000; -webkit-box-shadow: 0 0 15px #000;}
#modalwin_make_multiple .overlay_body { width:600px; margin:0 auto; padding:15px 0; }
#modalwin_make_multiple .overlay_body h3 { font-size:16px; border-bottom:1px solid #d8d8d8; padding:2px 0 7px; background:url(../images/common/icon_make_event.gif) no-repeat; }
#modalwin_make_multiple .overlay_body h3 strong { display:block; margin:0 30px; }
#modalwin_make_multiple .overlay_body table { border-collapse:collapse; margin:30px auto 0; color:#444; border-bottom:1px solid #ddd; }
#modalwin_make_multiple .overlay_body table.last { border:none; }
#modalwin_make_multiple .overlay_body table th { border-collapse:collapse; text-align:right; font-weight:bold; vertical-align:middle; padding:7px 0; font-size:14px; }
#modalwin_make_multiple .overlay_body table th strong { display:block; margin-right:15px; }
#modalwin_make_multiple .overlay_body table td { border-collapse:collapse; text-align:left; vertical-align:middle; padding:7px 0; }
#modalwin_make_multiple .overlay_body table td .txt_field { font-size:16px; width:470px; height:32px; border:1px solid #ccc; background-color:#fff; -moz-border-radius:4px;/*for Firefox*/ -webkit-border-radius:4px;/*for Safari and chrome*/ border-radius:4px;/*CSS3*/ -webkit-box-shadow:inset 0px 0px 2px 0px #ccc;/*for Safari and chrome*/ -moz-box-shadow:inset 0px 0px 2px 0px #ccc;/*forFirefox*/ box-shadow:inset 0px 0px 2px 0px #ccc;/*CSS3*/ }
#modalwin_make_multiple .overlay_body table td .txt_field_s { font-size:16px; width:350px; height:32px; border:1px solid #ccc; background-color:#fff; -moz-border-radius:4px;/*for Firefox*/ -webkit-border-radius:4px;/*for Safari and chrome*/ border-radius:4px;/*CSS3*/ -webkit-box-shadow:inset 0px 0px 2px 0px #ccc;/*for Safari and chrome*/ -moz-box-shadow:inset 0px 0px 2px 0px #ccc;/*forFirefox*/ box-shadow:inset 0px 0px 2px 0px #ccc;/*CSS3*/ }
#modalwin_make_multiple .overlay_body table td .txt_field_ss { font-size:16px; width:150px; height:32px; border:1px solid #ccc; background-color:#fff; -moz-border-radius:4px;/*for Firefox*/ -webkit-border-radius:4px;/*for Safari and chrome*/ border-radius:4px;/*CSS3*/ -webkit-box-shadow:inset 0px 0px 2px 0px #ccc;/*for Safari and chrome*/ -moz-box-shadow:inset 0px 0px 2px 0px #ccc;/*forFirefox*/ box-shadow:inset 0px 0px 2px 0px #ccc;/*CSS3*/ }
#modalwin_make_multiple .overlay_body table td textarea { width:470px; height:100px; border:1px solid #ccc; background-color:#fff; -moz-border-radius:4px;/*for Firefox*/ -webkit-border-radius:4px;/*for Safari and chrome*/ border-radius:4px;/*CSS3*/ -webkit-box-shadow:inset 0px 0px 2px 0px #ccc;/*for Safari and chrome*/ -moz-box-shadow:inset 0px 0px 2px 0px #ccc;/*forFirefox*/ box-shadow:inset 0px 0px 2px 0px #ccc;/*CSS3*/ }
#modalwin_make_multiple .overlay_body table td label { cursor: pointer; }
#modalwin_make_multiple .overlay_body table td label input { vertical-align:middle; margin-right:5px; }
#modalwin_make_multiple .overlay_body table td select { vertical-align:middle; }
#modalwin_make_multiple .overlay_body table p.end_set { font-weight:bold; color:#08adfa; cursor:pointer; margin-bottom:5px; padding-left:20px; background:url(../images/common/icon_event_arrow.gif) left center no-repeat; }
#modalwin_make_multiple .overlay_body table p.end_set:hover,
#modalwin_make_multiple .overlay_body table p.end_set:active { text-decoration:underline; }
#modalwin_make_multiple .overlay_body table .photo { margin-bottom:5px; }
#modalwin_make_multiple .overlay_body table .size_set_txt { font-size:10px; display:block; margin-top:5px; }


