{% extends '::layout.html.twig' %}

{% block css %}
<link href="{{ asset('css/import_settings.css') }}" rel="stylesheet" type="text/css" />
<!--[if lte IE 7]>
<link href="{{ asset('css/patches/patch_settings.css') }}" rel="stylesheet" type="text/css" />
<![endif]-->
{% endblock %}

{% block header %}
	{% include 'DroppyMainBundle:Includes:header_unlogged.html.twig' %} 
{% endblock %}

{% block body %}
<div id="main">
    <div id="col1">
        <div id="col1_content" class="clearfix">
            {% include 'DroppyUserBundle:Includes:settings_menu.html.twig' with {'class' : ['', '', '', 'active']} %}
        </div>
    </div>
    <div id="col3">
        <div id="col3_content" class="clearfix">
        {% include 'DroppyUserBundle:Includes:settings_deactivation.html.twig' %}
        </div>
        <!-- IE Column Clearing -->
        <div id="ie_clearing"> &#160; </div>
    </div>
</div>
{% endblock %}
