<div class="cal_list">
	<ul>
		{% for user in users %}

		{% if user.personalDatas.iconSet.uploaded %}
		<li><img src="{{ asset(user.personalDatas.iconSet.smallIconPath) }}" alt=""><br>
		{% else %}
		<li><img src="{{ asset('img/dummy_120x120.gif') }}" alt=""><br>
		{% endif %}

		<a href="#">{{ user.username }}</a></li>
		{% endfor %}
	</ul>
	<br class="clear">
</div>

