.ym-form label {
	font-size:12px;
	margin:10px 5px 0 0;
}
#register-box {
	text-align:right;
}
.ym-form input[type="text"] { 
	font-size:16px;
	margin:5px 0;
	padding: 4px;
	width:200px;
	border:1px solid #ccc;
	background-color:#fff;
	-moz-border-radius:4px;/*for Firefox*/
	-webkit-border-radius:4px;/*for Safari and chrome*/ 
	border-radius:4px;/*CSS3*/
	-webkit-box-shadow:inset 0px 0px 2px 0px #ccc;/*for Safari and chrome*/
	-moz-box-shadow:inset 0px 0px 2px 0px #ccc;/*forFirefox*/
	box-shadow:inset 0px 0px 2px 0px #ccc;/*CSS3*/
}
#login-pass {
	width:150px;
}
#login-id-email {
	width:250px;
}
.ym-fbox-text.password {
	float:left;
}
button.login {
	margin:3px 0 0 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight:bold;
	color: #ffffff;
	padding: 7px 16px;
	background: -moz-linear-gradient(
		top,
		#ffc2c2 0%,
		#ff2424);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffc2c2),
		to(#ff2424));
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #ffffff;
	-moz-box-shadow:
		0px 0px 0px rgba(000,000,000,0.5),
		inset 0px 0px 5px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 0px 0px rgba(000,000,000,0.5),
		inset 0px 0px 5px rgba(255,255,255,1);
	text-shadow:
		0px 0px 0px rgba(000,000,000,0.1),
		0px 0px 0px rgba(255,255,255,1);
}

