<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="">
<meta name="description" content="">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css" rel="stylesheet">
<link rel="stylesheet" href="../css/ui.reveal.css" type="text/css" media="all">
<link rel="stylesheet" href="../css/ui.tabs.css" type="text/css" media="all">
<link rel="stylesheet" href="../css/import.css" type="text/css" media="all">
<link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
<title>Droppy｜ソーシャルスケジューリングサービス</title>
<!--[if IE]>
<link rel="stylesheet" type="text/css" href="../css/ie.css">
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="../css/ie7.css">
<![endif]-->
<!--[if IE 6]>
<link rel="stylesheet" type="text/css" href="../css/ie6.css">
<![endif]-->
<script type="text/javascript" src="../js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="../js/jquery.reveal.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
<script type="text/javascript" src="../js/ui.core.js"></script>
<script type="text/javascript" src="../js/ui.tabs.js"></script>
<script type="text/javascript" src="../js/ui.dropdown.js"></script>
<script type="text/javascript" src="../js/ui.change.item.js"></script>
<script type="text/javascript">
$(function(){
    $('#ui-tab > ul').tabs({ fx: { opacity: 'toggle', duration: 'fast'  } });
    
    $("#datepicker1").datepicker();
	$("#datepicker2").datepicker();
});
</script>
</head>

<body>
<div id="header">
<div id="header_body">
<div class="inner_l">
<div><a href="#"><img src="../images/common/header_logo.gif" alt="Droppy"></a></div>
<h1>ソーシャルスケジューリングサービス</h1>
</div>
<div class="inner_r">
<ul id="dulldown">
	<li><a href="#" class="search_eve">イベントを探す</a><a href="#" class="search_cal line_r">スケジュールを探す</a><span>ログイン</span>
	<div>
	<ul>
		<li class="login_droppy"><a href="#">Droppyでログイン</a></li>
		<li class="login_fb"><a href="#">facebook IDでログイン</a></li>
	</ul>
	<br class="clear">
	</div>
	</li>
</ul>
</div>
<br class="clear">
</div><!-- // #header_body -->
</div><!-- // #header -->


<!-- begin search container -->
<div id="detail-search-container">

<!-- #search-box -->
<div class="inside-box">
 <div class="main">
  <form>
  <table border="0" cellpadding="0" cellspacing="0">
  	<tr class="first">
  		<th>タイトル</th>
  		<td><input type="text" name="" class="txt_field mr20" placeholder="イベント,スケジュール名,タグを検索"></td>
  		<th>ジャンル</th>
  		<td>
  		<select name="select">
  		<option value="opt1">IT</option>
  		<option value="opt2">ジャンル.2</option>
  		<option value="opt3">ジャンル.3</option>
  		<option value="opt4">ジャンル.4</option>
  		<option value="opt5">ジャンル.5</option>
  		</select>
  		&nbsp;&nbsp;&nbsp;&nbsp;
        <select name="">
        <option value="" selected>都道府県</option>
        <option value="1">北海道</option>
        <option value="2">青森県</option>
        <option value="3">岩手県</option>
        <option value="4">宮城県</option>
        <option value="5">秋田県</option>
        <option value="6">山形県</option>
        <option value="7">福島県</option>
        <option value="8">茨城県</option>
        <option value="9">栃木県</option>
        <option value="10">群馬県</option>
        <option value="11">埼玉県</option>
        <option value="12">千葉県</option>
        <option value="13">東京都</option>
        <option value="14">神奈川県</option>
        <option value="15">新潟県</option>
        <option value="16">富山県</option>
        <option value="17">石川県</option>
        <option value="18">福井県</option>
        <option value="19">山梨県</option>
        <option value="20">長野県</option>
        <option value="21">岐阜県</option>
        <option value="22">静岡県</option>
        <option value="23">愛知県</option>
        <option value="24">三重県</option>
        <option value="25">滋賀県</option>
        <option value="26">京都府</option>
        <option value="27">大阪府</option>
        <option value="28">兵庫県</option>
        <option value="29">奈良県</option>
        <option value="30">和歌山県</option>
        <option value="31">鳥取県</option>
        <option value="32">島根県</option>
        <option value="33">岡山県</option>
        <option value="34">広島県</option>
        <option value="35">山口県</option>
        <option value="36">徳島県</option>
        <option value="37">香川県</option>
        <option value="38">愛媛県</option>
        <option value="39">高知県</option>
        <option value="40">福岡県</option>
        <option value="41">佐賀県</option>
        <option value="42">長崎県</option>
        <option value="43">熊本県</option>
        <option value="44">大分県</option>
        <option value="45">宮崎県</option>
        <option value="46">鹿児島県</option>
        <option value="47">沖縄県</option>
        </select>
        &nbsp;&nbsp;
        <input type="text" name="" class="txt_field" placeholder="イベント,スケジュール名,タグを検索">
  		</td>
  	</tr>
  	<tr>
  		<th>日程</th>
  		<td colspan="3">
  		<input type="text" name="" value="" id="datepicker1" class="txt_field">
  		&nbsp;
        <select name="select">
        <option value="">▼指定なし</option>
        <option value="opt1">0:00</option>
        <option value="opt2">0:30</option>
        <option value="opt3">1:00</option>
        <option value="opt4">1:30</option>
        <option value="opt5">2:00</option>
        <option value="opt6">2:30</option>
        <option value="opt7">3:00</option>
        <option value="opt8">3:30</option>
        <option value="opt9">4:00</option>
        <option value="opt10">4:30</option>
        <option value="opt11">5:00</option>
        <option value="opt12">5:30</option>
        <option value="opt13">6:00</option>
        <option value="opt14">6:30</option>
        <option value="opt15">7:00</option>
        <option value="opt16">7:30</option>
        <option value="opt17">8:00</option>
        <option value="opt18">8:30</option>
        <option value="opt19">9:00</option>
        <option value="opt20">9:30</option>
        <option value="opt21">10:00</option>
        <option value="opt22">10:30</option>
        <option value="opt23">11:00</option>
        <option value="opt24">11:30</option>
        <option value="opt25">12:00</option>
        <option value="opt26">12:30</option>
        <option value="opt27">13:00</option>
        <option value="opt28">13:30</option>
        <option value="opt29">14:00</option>
        <option value="opt30">14:30</option>
        <option value="opt31">15:00</option>
        <option value="opt32">15:30</option>
        <option value="opt33">16:00</option>
        <option value="opt34">16:30</option>
        <option value="opt35">17:00</option>
        <option value="opt36">17:30</option>
        <option value="opt37">18:00</option>
        <option value="opt38">18:30</option>
        <option value="opt39">19:00</option>
        <option value="opt40">19:30</option>
        <option value="opt41">20:00</option>
        <option value="opt42">20:30</option>
        <option value="opt43">21:00</option>
        <option value="opt44">21:30</option>
        <option value="opt45">22:00</option>
        <option value="opt46">22:30</option>
        <option value="opt47">23:00</option>
        <option value="opt48">23:30</option>
        <option value="opt49">24:00</option>
        <option value="opt50">24:30</option>
        </select>
        &nbsp;&nbsp;～&nbsp;&nbsp;
        <input type="text" name="" value="" id="datepicker2" class="txt_field">
  		&nbsp;
        <select name="select">
        <option value="">▼指定なし</option>
        <option value="opt1">0:00</option>
        <option value="opt2">0:30</option>
        <option value="opt3">1:00</option>
        <option value="opt4">1:30</option>
        <option value="opt5">2:00</option>
        <option value="opt6">2:30</option>
        <option value="opt7">3:00</option>
        <option value="opt8">3:30</option>
        <option value="opt9">4:00</option>
        <option value="opt10">4:30</option>
        <option value="opt11">5:00</option>
        <option value="opt12">5:30</option>
        <option value="opt13">6:00</option>
        <option value="opt14">6:30</option>
        <option value="opt15">7:00</option>
        <option value="opt16">7:30</option>
        <option value="opt17">8:00</option>
        <option value="opt18">8:30</option>
        <option value="opt19">9:00</option>
        <option value="opt20">9:30</option>
        <option value="opt21">10:00</option>
        <option value="opt22">10:30</option>
        <option value="opt23">11:00</option>
        <option value="opt24">11:30</option>
        <option value="opt25">12:00</option>
        <option value="opt26">12:30</option>
        <option value="opt27">13:00</option>
        <option value="opt28">13:30</option>
        <option value="opt29">14:00</option>
        <option value="opt30">14:30</option>
        <option value="opt31">15:00</option>
        <option value="opt32">15:30</option>
        <option value="opt33">16:00</option>
        <option value="opt34">16:30</option>
        <option value="opt35">17:00</option>
        <option value="opt36">17:30</option>
        <option value="opt37">18:00</option>
        <option value="opt38">18:30</option>
        <option value="opt39">19:00</option>
        <option value="opt40">19:30</option>
        <option value="opt41">20:00</option>
        <option value="opt42">20:30</option>
        <option value="opt43">21:00</option>
        <option value="opt44">21:30</option>
        <option value="opt45">22:00</option>
        <option value="opt46">22:30</option>
        <option value="opt47">23:00</option>
        <option value="opt48">23:30</option>
        <option value="opt49">24:00</option>
        <option value="opt50">24:30</option>
        </select>
  		</td>
  	</tr>
  </table>
   <div class="submit-box">
   <p class="search"><a href="/" title="検索">検索</a></p>
   </div>
  </form>
 </div>
</div>
<!-- // #search-box -->

</div>
<!-- // end search container -->


<!-- begin search container -->
<div id="search-container" class="clearfix">


<!-- #result-box -->
<div id="result-box">

<!-- headline -->
<div class="headline">
<h1 class="title">Event, Schedule Title</h1>
<p>●月●日(金)19:00～21:00</p>
</div>
<!-- .headline -->

<ul class="info">
 <li class="thumb"><img src="../images/common/dammy_photo_120x120.gif" width="120" height="120" alt="" /></li>
 <li class="simple">
  <div class="btn-droppy"><img src="../images/search/sample_droppy.gif" width="123" height="20" alt="Droppy 数値ボタンサンプル" /></div>
  <ul class="btn-social clearfix">
   <li class="twitter"><img src="../images/search/sample_tweet.gif" width="90" height="20" alt="Tweetボタンサンプル" /></li>
   <li class="facebook"><img src="../images/search/sample_facebook.gif" width="96" height="21" alt="いいねボタンサンプル" /></li>
  </ul>
  <h2 class="schedule-name">in <strong><a href="/">●●スケジュール</a></strong></h2>
  <dl>
   <dt>タグ：</dt>
   <dt>#早稲田</dt>
   <dt>#サークル</dt>
  </dl>
 </li>
</ul>

<div class="detail">
<div class="example">以下詳細</div>
<div class="example-sentence">
<p>テキスト例）11月27日に開催される東京のIT勉強会でFacebook＋Webサイトで営業力アップ！というタイトルでプレゼンをすることになりました。</p>
<p>当日は<br />
・facebookとは？<br />
・営業マンのfacebook活用例<br />
・WEBサイトとfacebookの連携で得られる相乗効果<br />
というような内容について僕の考え方や成功している人の例などを交えてお話しようと思っています。<br />
まだプレゼン資料はざっくりしか出来ていないのでもしかしたら当日は少し変更があるかもしれないです。もし興味があるようでしたらぜひご参加頂ければと思います。</p>
<p>また、僕だけではなくてITアカデミーの鈴木さんによるTwitter APIによる業務効率アップ手法についてというプレゼンもあります。<br />
ITアカデミーさんは国内初のTwitter API正規代理店として日本でも有数のTwitter APIの取り扱い実績があるだけではなく、実際に社内で導入して運用してきた実績もあるものすごくTwitter APIを知り尽
くした会社なのでそのノウハウだけでも勉強会に参加する意味があると思います。</p>
<p>この勉強会はIT実践会会員は無料で参加できますのでまだ入会されていない方はこれを機会に会員登録するといいと思います。</p>
<p>という訳で当時は16：00からがっつりよろしくお願いします！</p>
</div>
</div>

</div>
<!-- // #result-box -->


<!-- #side-tab -->
<div id="side-tab">
<!-- #tab-2 -->
<div id="tab-2">
<div id="ui-tab">
<ul>
	<li class="ui-tab-1"><a href="#eve_tab_box"><span>イベント</span></a></li>
	<li class="ui-tab-2"><a href="#drop_tab_box"><span>スケジュール</span></a></li>
	<li class="ui-tab-3"><a href="#all_tab_box"><span>全て</span></a></li>
</ul>
</div><!-- // #ui-tab -->
<div id="eve_tab_box">
<!-- event list start -->
<div class="event_list bg_today">
<div class="event_list_body">
<div class="photo"><img src="../images/common/dammy_photo_45x45.gif" alt=""></div>
<div class="txt">
<p class="ymd">今日</p>
<div class="btn"><p class="drop_btn_style1"><a href="#"><span>Dropする</span></a></p></div>
<p class="caption">ONE PIECE</p>
<p>64巻販売</p>
</div>
<br class="clear">
</div>
</div>
<!-- event list end -->
<!-- event list start -->
<div class="event_list bg_today">
<div class="event_list_body">
<div class="photo"><img src="../images/common/dammy_photo_45x45.gif" alt=""></div>
<div class="txt">
<p class="ymd">今日</p>
<div class="btn"><p class="drop_btn_style1"><a href="#"><span>Dropする</span></a></p></div>
<p class="caption">ONE PIECE</p>
<p>64巻販売</p>
</div>
<br class="clear">
</div>
</div>
<!-- event list end -->
<!-- event list start -->
<div class="event_list bg_today">
<div class="event_list_body">
<div class="photo"><img src="../images/common/dammy_photo_45x45.gif" alt=""></div>
<div class="txt">
<p class="ymd">今日</p>
<div class="btn"><p class="drop_btn_style1"><a href="#"><span>Dropする</span></a></p></div>
<p class="caption">ONE PIECE</p>
<p>64巻販売</p>
</div>
<br class="clear">
</div>
</div>
<!-- event list end -->
<!-- event list start -->
<div class="event_list bg_today">
<div class="event_list_body">
<div class="photo"><img src="../images/common/dammy_photo_45x45.gif" alt=""></div>
<div class="txt">
<p class="ymd">今日</p>
<div class="btn"><p class="drop_btn_style1"><a href="#"><span>Dropする</span></a></p></div>
<p class="caption">ONE PIECE</p>
<p>64巻販売</p>
</div>
<br class="clear">
</div>
</div>
<!-- event list end -->
<!-- event list start -->
<div class="event_list bg_today">
<div class="event_list_body">
<div class="photo"><img src="../images/common/dammy_photo_45x45.gif" alt=""></div>
<div class="txt">
<p class="ymd">今日</p>
<div class="btn"><p class="drop_btn_style1"><a href="#"><span>Dropする</span></a></p></div>
<p class="caption">ONE PIECE</p>
<p>64巻販売</p>
</div>
<br class="clear">
</div>
</div>
<!-- event list end -->
<!-- event list start -->
<div class="event_list bg_today">
<div class="event_list_body">
<div class="photo"><img src="../images/common/dammy_photo_45x45.gif" alt=""></div>
<div class="txt">
<p class="ymd">今日</p>
<div class="btn"><p class="drop_btn_style1"><a href="#"><span>Dropする</span></a></p></div>
<p class="caption">ONE PIECE</p>
<p>64巻販売</p>
</div>
<br class="clear">
</div>
</div>
<!-- event list end -->
<!-- event list start -->
<div class="event_list bg_today">
<div class="event_list_body">
<div class="photo"><img src="../images/common/dammy_photo_45x45.gif" alt=""></div>
<div class="txt">
<p class="ymd">今日</p>
<div class="btn"><p class="drop_btn_style1"><a href="#"><span>Dropする</span></a></p></div>
<p class="caption">ONE PIECE</p>
<p>64巻販売</p>
</div>
<br class="clear">
</div>
</div>
<!-- event list end -->
<!-- event list start -->
<div class="event_list bg_today">
<div class="event_list_body">
<div class="photo"><img src="../images/common/dammy_photo_45x45.gif" alt=""></div>
<div class="txt">
<p class="ymd">今日</p>
<div class="btn"><p class="drop_btn_style1"><a href="#"><span>Dropする</span></a></p></div>
<p class="caption">ONE PIECE</p>
<p>64巻販売</p>
</div>
<br class="clear">
</div>
</div>
<!-- event list end -->
</div><!-- // #eve_tab_box -->
<div id="drop_tab_box">
<!-- event list start -->
<div class="event_list bg_today">
<div class="event_list_body">
<div class="photo"><img src="../images/common/dammy_photo_45x45.gif" alt=""></div>
<div class="txt">
<div class="btn"><p class="drop_btn_style1"><a href="#"><span>Dropする</span></a></p></div>
<p class="eve_name">イベント名</p>
<p class="cal_ttl">スケジュール名</p>
</div>
<br class="clear">
</div>
</div>
<!-- event list end -->
<!-- event list start -->
<div class="event_list bg_today">
<div class="event_list_body">
<div class="photo"><img src="../images/common/dammy_photo_45x45.gif" alt=""></div>
<div class="txt">
<div class="btn"><p class="drop_btn_style1"><a href="#"><span>Dropする</span></a></p></div>
<p class="eve_name">イベント名</p>
<p class="cal_ttl">スケジュール名</p>
</div>
<br class="clear">
</div>
</div>
<!-- event list end -->
<!-- event list start -->
<div class="event_list bg_today">
<div class="event_list_body">
<div class="photo"><img src="../images/common/dammy_photo_45x45.gif" alt=""></div>
<div class="txt">
<div class="btn"><p class="drop_btn_style1"><a href="#"><span>Dropする</span></a></p></div>
<p class="eve_name">イベント名</p>
<p class="cal_ttl">スケジュール名</p>
</div>
<br class="clear">
</div>
</div>
<!-- event list end -->
<!-- event list start -->
<div class="event_list bg_today">
<div class="event_list_body">
<div class="photo"><img src="../images/common/dammy_photo_45x45.gif" alt=""></div>
<div class="txt">
<div class="btn"><p class="drop_btn_style1"><a href="#"><span>Dropする</span></a></p></div>
<p class="eve_name">イベント名</p>
<p class="cal_ttl">スケジュール名</p>
</div>
<br class="clear">
</div>
</div>
<!-- event list end -->
<!-- event list start -->
<div class="event_list bg_today">
<div class="event_list_body">
<div class="photo"><img src="../images/common/dammy_photo_45x45.gif" alt=""></div>
<div class="txt">
<div class="btn"><p class="drop_btn_style1"><a href="#"><span>Dropする</span></a></p></div>
<p class="eve_name">イベント名</p>
<p class="cal_ttl">スケジュール名</p>
</div>
<br class="clear">
</div>
</div>
<!-- event list end -->
<!-- event list start -->
<div class="event_list bg_today">
<div class="event_list_body">
<div class="photo"><img src="../images/common/dammy_photo_45x45.gif" alt=""></div>
<div class="txt">
<div class="btn"><p class="drop_btn_style1"><a href="#"><span>Dropする</span></a></p></div>
<p class="eve_name">イベント名</p>
<p class="cal_ttl">スケジュール名</p>
</div>
<br class="clear">
</div>
</div>
<!-- event list end -->
<!-- event list start -->
<div class="event_list bg_today">
<div class="event_list_body">
<div class="photo"><img src="../images/common/dammy_photo_45x45.gif" alt=""></div>
<div class="txt">
<div class="btn"><p class="drop_btn_style1"><a href="#"><span>Dropする</span></a></p></div>
<p class="eve_name">イベント名</p>
<p class="cal_ttl">スケジュール名</p>
</div>
<br class="clear">
</div>
</div>
<!-- event list end -->
<!-- event list start -->
<div class="event_list bg_today">
<div class="event_list_body">
<div class="photo"><img src="../images/common/dammy_photo_45x45.gif" alt=""></div>
<div class="txt">
<div class="btn"><p class="drop_btn_style1"><a href="#"><span>Dropする</span></a></p></div>
<p class="eve_name">イベント名</p>
<p class="cal_ttl">スケジュール名</p>
</div>
<br class="clear">
</div>
</div>
<!-- event list end -->
</div><!-- // #drop_tab_box -->
<div id="all_tab_box">
<!-- event list start -->
<div class="event_list bg_today">
<div class="event_list_body">
<div class="photo"><img src="../images/common/dammy_photo_45x45.gif" alt=""></div>
<div class="txt">
<p class="ymd">今日</p>
<div class="btn"><p class="drop_btn_style1"><a href="#"><span>Dropする</span></a></p></div>
<p class="caption">ONE PIECE</p>
<p>64巻販売</p>
</div>
<br class="clear">
</div>
</div>
<!-- event list end -->
<!-- event list start -->
<div class="event_list bg_today">
<div class="event_list_body">
<div class="photo"><img src="../images/common/dammy_photo_45x45.gif" alt=""></div>
<div class="txt">
<p class="ymd">今日</p>
<div class="btn"><p class="drop_btn_style1"><a href="#"><span>Dropする</span></a></p></div>
<p class="caption">ONE PIECE</p>
<p>64巻販売</p>
</div>
<br class="clear">
</div>
</div>
<!-- event list end -->
<!-- event list start -->
<div class="event_list bg_today">
<div class="event_list_body">
<div class="photo"><img src="../images/common/dammy_photo_45x45.gif" alt=""></div>
<div class="txt">
<p class="ymd">今日</p>
<div class="btn"><p class="drop_btn_style1"><a href="#"><span>Dropする</span></a></p></div>
<p class="caption">ONE PIECE</p>
<p>64巻販売</p>
</div>
<br class="clear">
</div>
</div>
<!-- event list end -->
<!-- event list start -->
<div class="event_list bg_today">
<div class="event_list_body">
<div class="photo"><img src="../images/common/dammy_photo_45x45.gif" alt=""></div>
<div class="txt">
<p class="ymd">今日</p>
<div class="btn"><p class="drop_btn_style1"><a href="#"><span>Dropする</span></a></p></div>
<p class="caption">ONE PIECE</p>
<p>64巻販売</p>
</div>
<br class="clear">
</div>
</div>
<!-- event list end -->
<!-- event list start -->
<div class="event_list bg_today">
<div class="event_list_body">
<div class="photo"><img src="../images/common/dammy_photo_45x45.gif" alt=""></div>
<div class="txt">
<p class="ymd">今日</p>
<div class="btn"><p class="drop_btn_style1"><a href="#"><span>Dropする</span></a></p></div>
<p class="caption">ONE PIECE</p>
<p>64巻販売</p>
</div>
<br class="clear">
</div>
</div>
<!-- event list end -->
<!-- event list start -->
<div class="event_list bg_today">
<div class="event_list_body">
<div class="photo"><img src="../images/common/dammy_photo_45x45.gif" alt=""></div>
<div class="txt">
<p class="ymd">今日</p>
<div class="btn"><p class="drop_btn_style1"><a href="#"><span>Dropする</span></a></p></div>
<p class="caption">ONE PIECE</p>
<p>64巻販売</p>
</div>
<br class="clear">
</div>
</div>
<!-- event list end -->
<!-- event list start -->
<div class="event_list bg_today">
<div class="event_list_body">
<div class="photo"><img src="../images/common/dammy_photo_45x45.gif" alt=""></div>
<div class="txt">
<p class="ymd">今日</p>
<div class="btn"><p class="drop_btn_style1"><a href="#"><span>Dropする</span></a></p></div>
<p class="caption">ONE PIECE</p>
<p>64巻販売</p>
</div>
<br class="clear">
</div>
</div>
<!-- event list end -->
<!-- event list start -->
<div class="event_list bg_today">
<div class="event_list_body">
<div class="photo"><img src="../images/common/dammy_photo_45x45.gif" alt=""></div>
<div class="txt">
<p class="ymd">今日</p>
<div class="btn"><p class="drop_btn_style1"><a href="#"><span>Dropする</span></a></p></div>
<p class="caption">ONE PIECE</p>
<p>64巻販売</p>
</div>
<br class="clear">
</div>
</div>
<!-- event list end -->
</div><!-- // #all_tab_box -->

</div>
<!-- // #tab-2 -->
</div>
<!-- // #side-tab -->

</div>
<!-- // end search container -->

<div id="footer">
<div id="footer_body">
<address>Droppy &copy; 2011</address>
<ul>
	<li><a href="#">運営会社</a>｜</li>
	<li><a href="#">プライバシーポリシー</a>｜</li>
	<li><a href="#">利用規約</a>｜</li>
	<li><a href="#">運営者からのお知らせ</a></li>
</ul>
</div><!-- // #footer_body -->
</div><!-- // #footer -->
</body>
</html>
