<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="">
<meta name="description" content="">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css" rel="stylesheet">
<link rel="stylesheet" href="../css/ui.reveal.css" type="text/css" media="all">
<link rel="stylesheet" href="../css/ui.tabs.css" type="text/css" media="all">
<link rel="stylesheet" href="../css/import.css" type="text/css" media="all">
<link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
<title>Droppy｜ソーシャルスケジューリングサービス</title>
<!--[if IE]>
<link rel="stylesheet" type="text/css" href="../css/ie.css">
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="../css/ie7.css">
<![endif]-->
<!--[if IE 6]>
<link rel="stylesheet" type="text/css" href="../css/ie6.css">
<![endif]-->
<script type="text/javascript" src="../js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="../js/jquery.reveal.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
<script type="text/javascript" src="../js/ui.core.js"></script>
<script type="text/javascript" src="../js/ui.tabs.js"></script>
<script type="text/javascript" src="../js/ui.dropdown.js"></script>
<script type="text/javascript" src="../js/ui.change.item.js"></script>
<script type="text/javascript" src="../js/footerFixed.js"></script>
</head>

<body>
<div id="header">
<div id="header_body">
<div class="inner_l">
<h1 class="header_logo"><a href="#"><img src="../images/common/header_logo_s.gif" alt="Droppy"></a></h1>
<div class="header_search_form">
<form action="" method="post">
<input type="text" name="" value="" class="header_search_txt" placeholder="検索">
</form>
</div>
<br class="clear">
</div>
<div class="inner_r">
<p class="header_menu"><a href="#" class="recommend">おすすめ</a><a href="#" class="search_eve">イベント・スケジュール検索</a><a href="#" class="make_cal">スケジュールを作る</a><span><a href="#"><img src="../images/common/icon_setting.gif" alt="setting"></a></span></p>
</div>
<br class="clear">
</div><!-- // #header_body -->
</div><!-- // #header -->
<div id="container">
<h2 class="ttl_step"><img src="../images/makecal/img_step_1st.gif" alt="1.スケジュールを作る"></h2>
<div class="make_cal_box">
<form action="" method="post">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<th><span>スケジュール<span>&nbsp;(必須)</span></span></th>
		<td>
		<span class="error_msg">※エラーメッセージが入ります</span>
		<input type="text" name="" value="" class="txt_field">
		</td>
	</tr>
	<tr>
		<th><span>ジャンル<span>&nbsp;(必須)</span></span></th>
		<td>
		<select name="">
        <option value="">IT</option>
        <option value="">IT</option>
        <option value="">IT</option>
        </select>
		</td>
	</tr>
	<tr class="set_img">
		<th><span>アイコン</span></th>
		<td><input type="file" name="" value=""><br>
		<span class="size_set_txt">画像の容量は--KB以下でお願いします。<br>
		サポートしているフォーマットはGIFとJPGとPNGです。</span></td>
	</tr>
</table>
<p class="btn_style1"><a href="#">作成</a></p>
<p class="more">もっと詳しく</p>
<div class="more_cal_box">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<th><span>詳細</span></th>
		<td>
		<span class="error_msg">※エラーメッセージが入ります</span>
		<textarea rows="5" cols="10"></textarea>
		</td>
	</tr>
	<tr>
		<th><span>タグ</span></th>
		<td>
		<span class="error_msg">※エラーメッセージが入ります</span>
		<input type="text" name="" value="" class="txt_field">
		</td>
	</tr>
	<tr>
		<th><span>スケジュールの公開設定</span></th>
		<td>
		<label><input type="radio" name="" value="" checked="">公開</label>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<label><input type="radio" name="" value="">招待制</label>
		</td>
	</tr>
	<tr class="set_img">
		<th><span>スケジュール背景</span></th>
		<td><input type="file" name="" value=""><br>
		<span class="size_set_txt">画像の容量は--KB以下でお願いします。<br>
		サポートしているフォーマットはGIFとJPGとPNGです。</span></td>
	</tr>
	<tr class="set_img">
		<th><span>スケジュール内画像</span></th>
		<td><input type="file" name="" value=""><br>
		<span class="size_set_txt">画像の容量は--KB以下でお願いします。<br>
		サポートしているフォーマットはGIFとJPGとPNGです。</span></td>
	</tr>
	<tr>
		<th><span>作成者の表示</span></th>
		<td>
		<label><input type="radio" name="" value="" checked="">公開</label>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<label><input type="radio" name="" value="">非公開</label>
		</td>
	</tr>
</table>
<p class="btn_style1"><a href="#">作成</a></p>
</div><!-- // .more_cal_box -->
</form>
</div><!-- // .make_cal_box -->
</div><!-- // #container -->
<div id="footer">
<div id="footer_body">
<address>Droppy &copy; 2011</address>
<ul>
	<li><a href="#">運営会社</a>｜</li>
	<li><a href="#">プライバシーポリシー</a>｜</li>
	<li><a href="#">利用規約</a>｜</li>
	<li><a href="#">運営者からのお知らせ</a></li>
</ul>
</div><!-- // #footer_body -->
</div><!-- // #footer -->
</body>
</html>
