<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="">
<meta name="description" content="">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css" rel="stylesheet">
<link rel="stylesheet" href="../css/ui.reveal.css" type="text/css" media="all">
<link rel="stylesheet" href="../css/ui.tabs.css" type="text/css" media="all">
<link rel="stylesheet" href="../css/import.css" type="text/css" media="all">
<link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
<title>Droppy｜ソーシャルスケジューリングサービス</title>
<!--[if IE]>
<link rel="stylesheet" type="text/css" href="../css/ie.css">
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="../css/ie7.css">
<![endif]-->
<!--[if IE 6]>
<link rel="stylesheet" type="text/css" href="../css/ie6.css">
<![endif]-->
<script type="text/javascript" src="../js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="../js/jquery.reveal.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
<script type="text/javascript" src="../js/ui.core.js"></script>
<script type="text/javascript" src="../js/ui.tabs.js"></script>
<script type="text/javascript" src="../js/ui.dropdown.js"></script>
<script type="text/javascript" src="../js/ui.change.item.js"></script>
<script type="text/javascript" src="../js/footerFixed.js"></script>
<script type="text/javascript">
$(function(){
	$("#datepicker1").datepicker();
	$("#datepicker2").datepicker();
	$("#datepicker3").datepicker();
	$("#datepicker4").datepicker();
});

$(document).ready(function(){
	$(".repeat_section").css("display", "none");
	$('.repeat_section_check :checkbox').click(function(){
	    var idname = this.value;
	    $("tr[id^=" + idname + "]").each(function(){
	    	$(this).toggle();
		});
	});
});
</script>
</head>

<body>
<div id="header">
<div id="header_body">
<div class="inner_l">
<h1 class="header_logo"><a href="#"><img src="../images/common/header_logo_s.gif" alt="Droppy"></a></h1>
<div class="header_search_form">
<form action="" method="post">
<input type="text" name="" value="" class="header_search_txt" placeholder="検索">
</form>
</div>
<br class="clear">
</div>
<div class="inner_r">
<p class="header_menu"><a href="#" class="recommend">おすすめ</a><a href="#" class="search_eve">イベント・スケジュール検索</a><a href="#" class="make_cal">スケジュールを作る</a><span><a href="#"><img src="../images/common/icon_setting.gif" alt="setting"></a></span></p>
</div>
<br class="clear">
</div><!-- // #header_body -->
</div><!-- // #header -->
<div id="container">
<h2 class="ttl_step"><img src="../images/makecal/img_step_2nd.gif" alt="2.イベントを作る"></h2>
<div class="make_event_box">
<p class="skip">[ <a href="#">Skip</a> ]</p>
<form action="" method="post">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<th><strong>タイトル</strong></th>
		<td>
		<span class="error_msg">※エラーメッセージが入ります</span>
		<input type="text" name="" value="" class="txt_field">
		</td>
	</tr>
	<tr>
		<th><strong>日時</strong></th>
		<td>
		<span class="error_msg">※エラーメッセージが入ります</span>
		<input type="text" name="" value="" id="datepicker1" class="txt_field_ss">&nbsp;&nbsp;
        <select name="">
        <option value="">00:00</option>
        <option value="">00:00</option>
        <option value="">00:00</option>
        <option value="">00:00</option>
        </select>
		</td>
	</tr>
	<tr>
		<th><strong>&nbsp;</strong></th>
		<td>
		<p class="end_set">終了時間を入力</p>
		<div class="end_ymd">
		<span class="error_msg">※エラーメッセージが入ります</span>
		<input type="text" name="" value="" id="datepicker2" class="txt_field_ss">&nbsp;&nbsp;
        <select name="">
        <option value="">00:00</option>
        <option value="">00:00</option>
        <option value="">00:00</option>
        <option value="">00:00</option>
        </select>
		</div>
		</td>
	</tr>
</table>
<p class="btn_style1"><a href="#">作成</a></p>
<p class="more">もっと詳しく</p>
<div class="more_sche_box">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<th><strong>詳細</strong></th>
		<td>
		<span class="error_msg">※エラーメッセージが入ります</span>
		<textarea rows="5" cols="10"></textarea>
		</td>
	</tr>
	<tr>
		<th><strong>場所</strong></th>
		<td>
		<span class="error_msg">※エラーメッセージが入ります</span>
		<select name="">
        <option value="">東京都</option>
        <option value="">東京都</option>
        <option value="">東京都</option>
        </select><input type="text" name="" value="" class="txt_field_s">
		</td>
	</tr>
	<tr>
		<th><strong>画像</strong></th>
		<td>
		<div class="photo"><img src="../images/common/dammy_photo_150x150.gif" alt=""></div>
		<input type="file" name="" value=""><br>
		<span class="size_set_txt">画像の容量は--KB以下でお願いします。<br>
        サポートしているフォーマットはGIFとJPGとPNGです。</span>
		</td>
	</tr>
	<tr>
		<th><strong>ジャンル</strong></th>
		<td>
		<select name="">
        <option value="">IT</option>
        <option value="">IT</option>
        <option value="">IT</option>
        </select>
		</td>
	</tr>
	<tr>
		<th><strong>タグ</strong></th>
		<td>
		<span class="error_msg">※エラーメッセージが入ります</span>
		<input type="text" name="" value="" class="txt_field">
		</td>
	</tr>
    <tr>
		<th><strong>繰り返し</strong></th>
		<td class="repeat_section_check"><input type="checkbox" value="hogehoge"></td>
	</tr>
    <tr id="hogehoge0" class="repeat_section">
		<th><strong>繰り返し</strong></th>
		<td>
		<select name="">
        <option value="">毎週</option>
        <option value="">毎週</option>
        <option value="">毎週</option>
        </select>
		</td>
	</tr>
    <tr id="hogehoge1" class="repeat_section">
		<th><strong>繰り返す間隔</strong></th>
		<td>
		<select name="">
        <option value="">1</option>
        <option value="">2</option>
        <option value="">3</option>
        </select>
        &nbsp;週間
		</td>
	</tr>
    <tr id="hogehoge2" class="repeat_section">
		<th><strong>曜日</strong></th>
		<td>
		<label><input type="checkbox" value="">&nbsp;日</label>&nbsp;
        <label><input type="checkbox" value="">&nbsp;月</label>&nbsp;
        <label><input type="checkbox" value="">&nbsp;火</label>&nbsp;
        <label><input type="checkbox" value="">&nbsp;水</label>&nbsp;
        <label><input type="checkbox" value="">&nbsp;木</label>&nbsp;
        <label><input type="checkbox" value="">&nbsp;金</label>&nbsp;
        <label><input type="checkbox" value="">&nbsp;土</label>&nbsp;
		</td>
	</tr>
    <tr id="hogehoge3" class="repeat_section">
		<th><strong>開始日</strong></th>
		<td>
		<input type="text" name="" value="" id="datepicker3" class="txt_field_ss">&nbsp;&nbsp;
        <select name="">
        <option value="">00:00</option>
        <option value="">00:00</option>
        <option value="">00:00</option>
        <option value="">00:00</option>
        </select>
		</td>
	</tr>
    <tr id="hogehoge4" class="repeat_section">
		<th><strong>終了日</strong></th>
		<td class="repeat_seciton_over">
		<label><input type="radio" name="" value="">&nbsp;なし</label>
        <label><input type="radio" name="" value="">&nbsp;<input type="text" name="" value="" class="txt_field_ssss">&nbsp;回</label>
        <label><input type="radio" name="" value="">&nbsp;<input type="text" name="" value="" class="txt_field_sss"></label>
		</td>
	</tr>
    <tr id="hogehoge5" class="repeat_section">
		<th><strong>概要</strong></th>
		<td>毎週 火曜日</td>
	</tr>
</table>

<p class="add_sche">日程を追加</p>
<p class="add_sche_ymd">
		<span class="error_msg">※エラーメッセージが入ります</span>
		<input type="text" name="" value="" id="datepicker4" class="txt_field_ss">&nbsp;&nbsp;
        <select name="">
        <option value="">00:00</option>
        <option value="">00:00</option>
        <option value="">00:00</option>
        <option value="">00:00</option>
        </select>
</p>
<p class="btn_style1"><a href="#">作成</a></p>
</div><!-- // .more_sche_box -->
</form>
</div><!-- // .make_event_box -->
</div><!-- // #container -->
<div id="footer">
<div id="footer_body">
<address>Droppy &copy; 2011</address>
<ul>
	<li><a href="#">運営会社</a>｜</li>
	<li><a href="#">プライバシーポリシー</a>｜</li>
	<li><a href="#">利用規約</a>｜</li>
	<li><a href="#">運営者からのお知らせ</a></li>
</ul>
</div><!-- // #footer_body -->
</div><!-- // #footer -->
</body>
</html>
