<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="">
<meta name="description" content="">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css" rel="stylesheet">
<link rel="stylesheet" href="../css/ui.reveal.css" type="text/css" media="all">
<link rel="stylesheet" href="../css/ui.tabs.css" type="text/css" media="all">
<link rel="stylesheet" href="../css/import.css" type="text/css" media="all">
<link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
<title>Droppy｜ソーシャルスケジューリングサービス</title>
<!--[if IE]>
<link rel="stylesheet" type="text/css" href="../css/ie.css">
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="../css/ie7.css">
<![endif]-->
<!--[if IE 6]>
<link rel="stylesheet" type="text/css" href="../css/ie6.css">
<![endif]-->
<script type="text/javascript" src="../js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="../js/jquery.reveal.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
<script type="text/javascript" src="../js/ui.core.js"></script>
<script type="text/javascript" src="../js/ui.tabs.js"></script>
<script type="text/javascript" src="../js/ui.dropdown.js"></script>
<script type="text/javascript" src="../js/ui.change.item.js"></script>
<script type="text/javascript" src="../js/footerFixed.js"></script>
<script type="text/javascript">
$(document).ready( function(){ 
	$(".male").click(function(){
		var parent = $(this).parents('.switch');
		$('.female',parent).removeClass('selected');
		$('.corporation',parent).removeClass('selected');
		$(this).addClass('selected');
		$('.checkbox',parent).attr('checked', true);
	});
	$(".female").click(function(){
		var parent = $(this).parents('.switch');
		$('.male',parent).removeClass('selected');
		$('.corporation',parent).removeClass('selected');
		$(this).addClass('selected');
		$('.checkbox',parent).attr('checked', false);
	});
	$(".corporation").click(function(){
		var parent = $(this).parents('.switch');
		$('.male',parent).removeClass('selected');
		$('.female',parent).removeClass('selected');
		$(this).addClass('selected');
		$('.checkbox',parent).attr('checked', false);
	});
});
</script>
</head>

<body>
<div id="header">
<div id="header_body">
<div class="inner_l">
<div><a href="#"><img src="../images/common/header_logo.gif" alt="Droppy"></a></div>
<h1>ソーシャルスケジューリングサービス</h1>
</div>
<div class="inner_r">
<ul id="dulldown">
	<li>アカウントをお持ちの場合は<span>ログイン</span>
	<div>
	<ul>
		<li class="login_droppy"><a href="#">Droppy IDでログイン</a></li>
		<li class="login_fb"><a href="#">facebook IDでログイン</a></li>
	</ul>
	<br class="clear">
	</div>
	</li>
</ul>
</div>
<br class="clear">
</div><!-- // #header_body -->
</div><!-- // #header -->
<div id="container">
<h2 class="ttl_step"><img src="../images/account/img_step_1st.gif" alt="1.ユーザー情報入力"></h2>
<div class="account_form_box">
<form action="" method="post">
<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <th>ユーザ名</th>
        <td>
        <span class="error_msg">※エラーメッセージが入ります</span>
        <input type="text" name="" value="" class="txt_field">
        </td>
    </tr>
    <tr>
        <th>メールアドレス</th>
        <td>
        <span class="error_msg">※エラーメッセージが入ります</span>
        <input type="email" name="" value="" class="txt_field">
        </td>
    </tr>
    <tr>
        <th>パスワード</th>
        <td>
        <span class="error_msg">※エラーメッセージが入ります</span>
        <input type="password" name="" value="" class="txt_field">
        </td>
    </tr>
    <tr>
        <th>パスワード（確認）</th>
        <td>
        <span class="error_msg">※エラーメッセージが入ります</span>
        <input type="password" name="" value="" class="txt_field">
        </td>
    </tr>
    <tr>
        <th>性別</th>
        <td>
        <div class="field switch">
		<input type="radio" id="radio1" name="" checked>男性
		<input type="radio" id="radio2" name="">女性
        <input type="radio" id="radio3" name="">法人
		<label for="radio1" class="male selected"><span>男性</span></label>
		<label for="radio2" class="female"><span>女性</span></label>
        <label for="radio3" class="corporation"><span>法人</span></label>
        </div>
        </td>
    </tr>
</table>
<p class="btn_style1"><a href="#">ユーザ登録</a></p>
</form>
</div><!-- // .account_form_box -->
</div><!-- // #container -->
<div id="footer">
<div id="footer_body">
<address>Droppy &copy; 2011</address>
<ul>
	<li><a href="#">運営会社</a>｜</li>
	<li><a href="#">プライバシーポリシー</a>｜</li>
	<li><a href="#">利用規約</a>｜</li>
	<li><a href="#">運営者からのお知らせ</a></li>
</ul>
</div><!-- // #footer_body -->
</div><!-- // #footer -->
</body>
</html>
