html, body, h1, h2, h3, h4, h5, h6, p, blockquote, address, ol, ul, li, dl, dt, dd, table, th, td, form, input, textarea, select, option {
	margin:0px;
	padding:0px;
	font-family: 'PT Sans Caption',Helvetica,'ƒqƒ‰ƒMƒmŠpƒS Pro W3','HiraKakuProN-W3','Hiragino Kaku Gothic Pro','ƒƒCƒŠƒI',Meiryo,'‚l‚r ‚oƒSƒVƒbƒN',sans-serif;
	font-size:12px;
}
ul, ol, li {
	list-style:none;
}
img { border:none; }
html, body {
	margin:0;
	padding:0;
	/*background-color:#eaf4fc;*/
	min-width:960px;
	position:relative;
	height:100%;
}
body > div#container {
	min-height:100%;
	height:auto !important;
	height:100%;
	position:relative;
}
p {
	margin:0 10px 10px;
}
.clearfix:after, dl:after {
	clear: both;
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}
.clearfix:after, dl:after {
	clear: both;
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}
.clearfix, dl {
	display: block;
}
div.error_message {
	position:absolute;
	top:0;
	left:50%;
	margin-left:-200px;
	padding-top:3px;
	font-size:15px;
	height:20px;
	width:400px;
	background:#fff699;
	border:1px solid #e45e32;
	color:#333333;
	z-index:9999;
	display:none;
}
p.error_message {
	text-align:center;
}
