div#header {
	height:35px;
	margin:0;
	background-color:#2d2d2d;
	color:#bbbbbb;
}
div#main {
	margin-left:300px;
	padding:0 15px 5px 10px;
	overflow:auto;
	height:100%;
}
div#sub1 {
	float:left;
	width:300px;
	height:120px;
	overflow:hidden;
	position:absolute;
	top:35px;
	left:0px;
	z-index:100;
}
div#sub2 {
	float:left;
	clear:left;
	width:300px;
	overflow:hidden;
	position:absolute;
	top:155px;
	left:0px;
	z-index:100;
}
div#wrapper {
	float:right;
	width:100%;
	margin-left:-300px;
}

#setting_wrapper { width:960px; margin:0 auto; text-align:left; }
#setting_wrapper #sidebar_left { float:left; width:260px; background:#efefef; }
#setting_wrapper #sidebar_left .sidebar_left_body { width:250px; height:100%; padding:10px 5px; text-align:left; }
#setting_wrapper #content_2column { float:right; width:680px; padding-top:30px; }
#setting_wrapper .setting_box { width:680px; min-height:600px; }
#setting_wrapper .setting_box h2 { font-size:16px; border-bottom:1px solid #c8c8c8; padding-bottom:5px; }
#setting_wrapper .setting_box table { border-collapse:collapse; color:#444; }
#setting_wrapper .setting_box table th { border-collapse:collapse; text-align:left; width:190px; font-weight:bold; vertical-align:top; padding:22px 0 22px; border-bottom:1px solid #e8e8e8; }
#setting_wrapper .setting_box table th strong { display:block; margin:0 10px; }
#setting_wrapper .setting_box table td { border-collapse:collapse; text-align:left; vertical-align:top; padding:22px 0 22px; border-bottom:1px solid #e8e8e8; }
#setting_wrapper .setting_box table td.txt { width:460px; }
#setting_wrapper .setting_box table td.rewrite { width:50px; font-size:10px; text-align:center; vertical-align:middle; }
#setting_wrapper .setting_box table td.rewrite span { color:#08adfa; cursor:pointer; }
#setting_wrapper .setting_box table td .txt_field { font-size:16px; width:200px; height:32px; border:1px solid #ccc; background-color:#fff; -moz-border-radius:4px;/*for Firefox*/ -webkit-border-radius:4px;/*for Safari and chrome*/ border-radius:4px;/*CSS3*/ -webkit-box-shadow:inset 0px 0px 2px 0px #ccc;/*for Safari and chrome*/ -moz-box-shadow:inset 0px 0px 2px 0px #ccc;/*forFirefox*/ box-shadow:inset 0px 0px 2px 0px #ccc;/*CSS3*/ }
#setting_wrapper .setting_box table td select { width:100px; }
#setting_wrapper .setting_box table td select.long { width:300px; }
#setting_wrapper .setting_box table td .setting_username { width:300px; }
#setting_wrapper .setting_box table td textarea { width:300px; height:100px; border:1px solid #ccc; background-color:#fff; -moz-border-radius:4px;/*for Firefox*/ -webkit-border-radius:4px;/*for Safari and chrome*/ border-radius:4px;/*CSS3*/ -webkit-box-shadow:inset 0px 0px 2px 0px #ccc;/*for Safari and chrome*/ -moz-box-shadow:inset 0px 0px 2px 0px #ccc;/*forFirefox*/ box-shadow:inset 0px 0px 2px 0px #ccc;/*CSS3*/ }
#setting_wrapper .setting_box table td .icon_pre { margin-bottom:5px; }
#setting_wrapper .setting_box table td label { cursor:pointer; }
#setting_wrapper .setting_box table td label input { vertical-align:middle; margin-right:5px; }
