.error_msg {
    color: #FF0000;
    display: block;
    margin-bottom: 5px;
}
.account_register_choice_form dl.ColorRadio dd { white-space: nowrap; }
dl.ColorRadio dd li { 
    list-style: none;  
    float: left;
}
.account_register_choice_form dl.ColorRadio dd label {   
    background: -moz-linear-gradient(top, #fff, #ccc);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ccc));
    padding: 10px 30px; 
    border: 1px solid #999;  
    border-radius: 0 0px 0px 0;
    -moz-box-shadow: 0 0 5px #ccc;  
    -webkit-box-shadow: 0 0 5px #ccc;  
    color: #aaa;  
    font-weight: bold;  
    text-shadow: 0 1px #fff;  
    text-align: center;  
}
.account_register_choice_form dl.ColorRadio dd li:first-child label {  
    border-radius: 10px 0 0 10px;  
}
.account_register_choice_form dl.ColorRadio dd li:last-child label {  
    border-radius: 0 10px 10px 0;  
}
.account_register_choice_form dl.ColorRadio dd li input[type="radio"] {
    opacity : 0;  
    position: absolute;
	margin-top:-15px;
    width: 100px;  
    height: 40px;   
    padding: 0;  
}
.account_register_choice_form dl.ColorRadio dd li input:checked + label {  
    background: -moz-linear-gradient(top, #cfc, #9f9);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #cfc), color-stop(1, #9f9));  
    color: #393;  
    text-shadow: 0 -1px #fff;  
}
.account_register_choice_form div#event_details_summary div#event_details_picture {
	margin:20px;
}
div#event_details_wrapper div {
	font-size:12px;
	border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	margin:10px 10px 0 10px;
}
div#event_details_wrapper .delete {
	background-repeat:no-repeat;
	padding:10px 20px;
	margin:20px; 20px 0 0;
}
div#event_details_wrapper .back {
	background-repeat:no-repeat;
	padding:10px 20px;
	margin:20px; 20px 0 0;
}
div#event_details_summary {
	height:150px;
}
div#event_details_summary a {
	text-decoration:none;
}
div#event_details_summary p.username {
	font-size:15px;
	font-weight:bold;
	color:#3333ff;
	margin-top:40px;
}
div#event_details_summary p.eventtitle {
	font-size:30px;
	font-weight:bold;
	color:#333333;
	margin:0 0 16px 0;
}
div#event_details_summary p#event_details_datetime {
	width: 640px;
	background: url(../img/icon_eve_pin.gif) 10px 2px no-repeat;
	font-size: 16px;
	padding: 5px 0 5px 50px;
	margin:25px 0 5px 0;
	border: 1px solid #E2E2E2;
	background-color: #F6F6F6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;border-radius: 5px;
}
div#event_details_summary div#event_details_picture {
	float:left;
	display:block;
	margin:20px;
}
div#event_details_summary div#event_details_titles {
	display:block;
}
div#event_details_summary dt {
	width:50px;
}
div#event_details_summary dl dt {
	color: #666666;
	float: left;
	padding-bottom: 20px;
}
div#event_details_summary dl dd {
	font-weight: bold;
	padding-bottom: 20px;
	word-wrap: break-word;
}
div#event_details_summary span.symbol-hash {
	color: #4FA1BD;
	font-family: Arial;
	font-size: 1.2em;
	font-weight: normal;
	padding-right: 3px;
}
div#event_details_summary span.tag {
	font-family: Arial;
	font-size: 1.2em;
	font-weight: bold;
	padding-right: 15px;
}
div#event_details_body {
	border: 1px solid #E2E2E2;
	background-color: #F6F6F6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;border-radius: 5px;
	width:670px;
	margin-left:15px;
}
div.event_details_header {
	border-bottom:1px dashed #aaaaaa;
	padding-top:10px;
	padding-left:10px;
	font-size:15px;
	height:30px;
}
div#event_details_details {
	padding:10px;
	font-size:15px;
}
div.calendar_tools {
	height:30px;
	padding:5px 20px 5px 20px;
}
div.calendar_tools img {
	vertical-align:middle;
	margin-left:10px;
	margin-right:10px;
}
div.calendar_tools td.calendar_title {
	font-size:20px;
	font-weight:bold;
	text-align:center;
}
div.calendar_tools a {
	text-decoration:none;
	color:#444444;
}
div.calendar_tools td.prevmonth {
}
div.calendar_tools td.nextmonth {
	text-align:right;
}


/*   main calendar css */

.main_calendar {
	height:100%;
	width:100%;
	border-collapse:collapse;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
	table-layout:fixed;
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
	cursor:normal;
}
.coloring_cells {
	height:100%;
	width:100%;
	table-layout:fixed;
}
.coloring_cells td.sat {
	background-color:#e3f1fd;
}
.coloring_cells td.sun {
	background-color:#ffe4de;
}
.coloring_cells td.weekday {
	background-color:#f9f9f9;
}
.main_calendar tr {
    height:16px;
}
.main_calendar tr.last_row {
    height:16px;
	border-bottom:1px solid #ccc;
}

.main_calendar th {
	height:20px;
	padding:5px 0;
	color:#ffffff;
}
.coloring_cells th {
	height:20px;
	border-collapse:collapse;
	color:#fff;
	padding:5px 0;
	border-left:1px solid #ccc;
	border-bottom:1px solid #ccc;
	text-align:center;
	vertical-align:middle;
	font-weight:normal;
}
.coloring_cells th {
	background-color:#999999;
}
.coloring_cells th.sat { 
	background-color:#6ba1d4;
}
.coloring_cells th.sun {
	background-color:#e84e34;
}
.main_calendar td {
	border-collapse:collapse;
	text-align:left;
	vertical-align:top;
	font-weight:normal;
	white-space:nowrap;
}
.coloring_cells td {
	border-left:1px solid #ccc;
}
.main_calendar td .txt_gray {
	color:#b9b9b9;
}
.main_calendar td .days {
	display:block;
	position:relative;
	left:2px;
	top:1px;
	z-index:1;
	font-weight:bold;
	cursor:default;
}
.main_calendar td span {
	overflow:hidden;
	margin:-1px 2px 0 -2px;
	padding-top:2px;
	height:19px;
	cursor:pointer;
}
.main_calendar span.purple.all_day {
	border:1px solid #ff00ff;
	color:#000000;
	background:#ffaaff;
}
.main_calendar span.pink.all_day {
	border:1px solid #ffaaaa;
	color:#000000;
	background:#ffdddd;
}
.main_calendar span.green.all_day {
	border:1px solid #00ff00;
	color:#000000;
	background:#ccffcc;
}
.main_calendar span.red.all_day { 
	border:1px solid #ff0000;
	color:#000000;
	background:#ffcccc;
}
.main_calendar span.blue.all_day {
	border:1px solid #0000ff;
	color:#000000;
	background:#ccccff;
}
.main_calendar span.purple {
	color:#ffaaff;
	background:none;
	border:none;
}
.main_calendar span.pink {
	color:#ffdddd;
	background:none;
	border:none;
}
.main_calendar span.green {
	color:#ccffcc;
	background:none;
	border:none;
}
.main_calendar span.red {
	color:#ffcccc;
	background:none;
	border:none;
}
.main_calendar span.blue {
	color:#ccccff;
	background:none;
	border:none;

}
.main_calendar .rot {
	background-image: url("../img/ro_15.png");
	background-repeat: repeat;
}	
.main_calendar td.today {
	background-color:#e0ebaf;
}
.main_calendar td.hovered {
	background-color:#c3e2fd;
}
#make_event_popup {
	width:300px;
	z-index:1000;
	box-shadow:0 2px 4px rgba(0,0,0,.2);
	-moz-box-shadow:0 2px 4px rgba(0,0,0,.2);
	-webkit-box-shadow:0 2px 4px rgba(0,0,0,.2);
	background:#ffffff;
	border:1px solid #cccccc;
	padding:15px;
	position:absolute;
	visibility: hidden;
}
#make_event_popup table {
	margin: 0 auto;
}
#make_event_popup input#event_form_type_name {
	font-size: 16px;
	height: 32px;
	width:200px;
	padding:0 5px;
	margin:5px 2px;
	border: 1px solid #CCC;
	background-color: white;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0px 0px 2px 0px #ccc;
	-moz-box-shadow: inset 0px 0px 2px 0px #ccc;
	box-shadow: inset 0px 0px 2px 0px #ccc;
}
#make_event_popup th {
	width:60px;
}
#make_event_popup a.close {
	float:right;
}
#make_event_popup div.buttons {
	margin-left:40px;
	margin-top:10px;
}
#make_event_popup input[type="button"] {
	width:80px;
	margin:2px 10px;
	padding:5px 10px;
	border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: solid 1px #999999;
}
#make_event_popup input.ok[type="button"] {
    background: #ffee99;
    background: linear-gradient(#ffffff, #ffee99);
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffee99));
    background: -moz-linear-gradient(top, #ffffff, #ffee99);
}
#make_event_popup input.ok[type="button"]:hover {
    color: #fff;
}
#make_event_popup input.ok[type="button"]:active {
    color: #fff;
    border: solid 1px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffdd), to(#ffffff));
    background: -moz-linear-gradient(top, #ffffdd, #ffffff);
}
#make_event_popup a {
	text-decoration:none;
	color:#1212ff;
	margin-left:20px;
}
div#content {
	margin: 0 auto;
	padding: 20px 0 50px;
	text-align: left;
	width: 900px;
}
.btn_style1 { height:70px; margin:20px auto 0; background:url(../img/bg_btn_style1.gif) no-repeat; text-align:center; }
.btn_style1 a { display:block; width:250px; height:70px; color:#fff; font-size:14px; font-weight:bold; text-decoration:none; line-height:70px; }
.btn_style1 a:hover,
.btn_style1 a:active { background:url(../img/bg_btn_style1_o.gif) no-repeat; text-decoration:underline; }


div#popular_events {
	width:620px;
	float:left;
}
div#popular_events p.toppage_lead {
	line-height: 1.6;
	margin-top: 10px;
	font-size:16px;
}
div#popular_events div.ttl {
	background: url("../img/bg_title.png") no-repeat scroll 0 0 transparent;
	height: 34px;
	margin-top: 35px;
	overflow: hidden;
	width: 620px;
}
div#popular_events div.ttl h3 {
	float: left;
	font-size: 16px;
	padding: 8px 0 0 12px;
}
div#popular_events ul {
	display:inline-block;
}
div#popular_events div.user_wrapper {
	margin:20px 0 10px 0;
}
div#popular_events div.user_wrapper li {
	margin: 0 0 5px 0;
	float: left;
	text-align: center;
	width: 150px;
}
div#popular_events div.user_wrapper li a {
	color: #08ADFA;
	text-decoration:none;
}
div#right_pane {
	float:right;
}
p.signup {
	background: url(../img/btn_login.gif) no-repeat scroll 0 0 transparent;
	height: 60px;
	text-align: center;
	width: 250px;
}
p.signup span, p.signup a {
	color: #FFFFFF;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: 60px;
	line-height: 60px;
	text-decoration: none;
	width: 250px;
}
div#loginbox {
	background: -webkit-linear-gradient(top,white 0,#eeeeee 100%);
	background-image: -webkit-linear-gradient(top, white 0px, #eeeeee 100%);
	background: -moz-linear-gradient(top,white 0,#eeeeee 100%);
	background: -ms-linear-gradient(top,white 0,#eeeeee 100%);
	background: -o-linear-gradient(top,white 0,#eeeeee 100%);
	background: linear-gradient(top,white 0,#eeeeee 100%);
	padding:10px 10px;
	margin-top:20px;
	border:1px solid #dddddd;
	position:relative;
}
div#loginbox input#Email {
	width:245px;
	height:20px;
	margin:5px 0 5px 2px;
	border:1px solid #888888;
	border-radius:3px 3px 3px 3px;
}
table#password_row {
	width:250px;
}
td#password_form {
	padding-right:5px;
	width:99%;
}
td#password_button {
	max-width:1%;
	width:1%;
}
div#loginbox input#Passwd {
	width:100%;
	height:20px;
	border:1px solid #888888;
	border-radius:3px 3px 3px 3px;
	margin:5px 0;
}
div#loginbox input#signIn {
	border-radius:3px 3px 3px 3px;
	cursor:pointer;
	color:#ffffff;
	font-weight:bold;
	text-shadow:0 -1px 0 rgba(0,0,0,0.4);
	width:60px;
	height:30px;
    background: #ee827c;
    background: -webkit-gradient(linear, left top, left bottom, from(#fe827c), to(#e9546b));
    background: -moz-linear-gradient(top, #fe827c, #e9546b);
}
div#loginbox div.bubble#loginerror {
	float: right;
	position:absolute;
	top:80px;
	left:140px;
	margin-left:90px;
	border-left: 10px solid #ff0080;
	border-top: 10px solid transparent;
	-border-bottom-color: white;
	width:80px;
}
div#loginbox div.bubble#loginerror p.body {
	float: right;
	padding: 5px 10px;
	margin: 0 0 0 -75px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background: #ff0040;
	font: 12px "Gill Sans", "Trebuchet MS", sans-serif;
	text-align: center;
	color: white;
	-position: relative;
}
#settingmenu ul{ 
	margin: 0; 
	padding: 0; 
	list-style: none; 
}
#settingmenu li{ 
	display: inline; 
	padding: 0; 
	margin: 0; 
}
#settingmenu a{
	display: block; 
	border: 1px solid #C97556;
	border-left: 8px solid #C97556;
	background-color: #eeeeee;
	font-size: 12px;
	padding: 20px;
	text-decoration: none;
	color: #222222;
	width: 70%; 
	margin-bottom: 4px;
	text-align: left;
}
#settingmenu a:hover{
	border-left: 8px solid #990033;
	background-color: #ffffff;
}

#sidebar_right .popular_box { width:250px; padding:10px 0; background-color:#d93232; -moz-border-radius:5px;/*for Firefox*/ -webkit-border-radius:5px;/*for Safari and chrome*/ border-radius:5px;/*CSS3*/ }
#sidebar_right .popular_box h3 { border:none; font-size:14px; color:#fff; margin:0 10px; padding-left:20px; background:url(../img/icon_popular.gif) left center no-repeat; }
#sidebar_right .popular_box .popular_box_body { width:248px; margin:10px 1px 0; padding:10px 0 5px; background-color:#fff; -moz-border-radius:5px;/*for Firefox*/ -webkit-border-radius:5px;/*for Safari and chrome*/ border-radius:5px;/*CSS3*/ }
#sidebar_right .popular_box table { border-collapse:collapse; width:238px; margin:0 auto; }
#sidebar_right .popular_box table th { border-collapse:collapse; width:60px; vertical-align:top; font-weight:normal; text-align:right; padding:5px 0; border-bottom:1px solid #eee; }
#sidebar_right .popular_box table th p { font-size:14px; }
#sidebar_right .popular_box table td { border-collapse:collapse; width:188px; vertical-align:top; font-weight:normal; font-size:14px; text-align:left; padding:5px 0; border-bottom:1px solid #eee; }
#sidebar_right .popular_box table td p { font-size:14px; }
#sidebar_right .popular_box table tr.last th,
#sidebar_right .popular_box table tr.last td { border:none; }
#sidebar_right .popular_box table a { color:#08adfa; }

#event_creation_form_color dl.ColorRadio dd { 
	white-space: nowrap;
}
#event_creation_form_color dl.ColorRadio dd li { 
    list-style: none;  
    float: left; 
	margin-right:10px;
}

#event_creation_form_color dl.ColorRadio dd label {   
    background: #ccc;
    padding: 10px 30px; 
}
#event_creation_form_color dl.ColorRadio dd li input[type="radio"] {
	margin-top:-15px;
    opacity : 0;  
    position: absolute;
    width: 60px;  
    height: 50px;   
    padding: 0;  
}

#event_creation_form_color dl.ColorRadio dd li input.green + label {  
    background: #9f9;
}
#event_creation_form_color dl.ColorRadio dd li input.blue + label {  
    background: #9cf;  
}
#event_creation_form_color dl.ColorRadio dd li input.red + label {  
    background: #db2222;
}
#event_creation_form_color dl.ColorRadio dd li input.pink + label {  
    background: #f99;
}
#event_creation_form_color dl.ColorRadio dd li input.purple + label {  
    background: #dbabff;
}
#event_creation_form_color dl.ColorRadio dd li input:checked + label {  
	border:2px solid #222222;
}
