div#events_list {
	background-color:#ffffff;
	width:280px;
	margin-left: 7px;
	height:100%;
	margin-top:5px;
}
div#event_wrapper {
	z-index:1;
}
div#events_list li {
	border-bottom:1px solid #eeeeee;
	height:55px;
	position:relative;
	cursor:pointer;
}
div#events_list li.today {
	background-color:#fcfedf;
}
div#events_list p.daybar {
	background-color:#ffcccc;
	color:#ff0000;
	width:265px;
	margin:0;
	padding-left:15px;
}
div#events_list div.event_avatar {
	float:left;
	position:absolute;
	top:10px;
	left:10px;
}
div#events_list div.event_text {
	float:left;
	color:#333333;
}
div#events_list p.event_datetime {
	font-weight:normal;
	position:absolute;
	top:10px;
	left:45px;
	white-space:nowrap;
}
div#events_list p.event_title {
	font-weight:bold;
	position:absolute;
	top:30px;
	left:45px;
	white-space:nowrap;
}
div#events_list div.event_btn {
	padding-right:3px;
	padding-top:4px;
	width:120px;
	float:right;
	position:absolute;
	bottom:27px;
	right:0px;
	z-index:9999;
}
div#event_list p {
	text-decoration:none;
}
